html { font-family: var(--body), Helvetica, Arial, sans-serif; }

//Global
html {
  font-size: 100%;
}

body {
  font-family: var(--body);
  font-weight: normal;
  font-size: var(--wp--preset--font-size--normal); //18px
  line-height: var(--wp--custom--typography--line-height--body);
  letter-spacing: 1rem * 0.02;
  word-spacing: 1rem * 0.04;
  text-align: left;
  background-color: var(--background);
  color: var(--text-color);
  overflow-y: scroll;
  overflow-x: hidden;
}

//Based on base size of 16px and 1.618 (golden ratio) type scale - https://type-scale.com

//Usage @extend %dgwltd-heading-m;

// H1
%dgwltd-heading-xl,
.dgwltd-heading-xl {
  // font-size: clampCalc($type-huge, $type-massive, sm, xxl);
  font-family: var(--wp--preset--font-family--soehne-extrafett);
  font-size: var(--wp--preset--font-size--massive);
  line-height: var(--wp--custom--typography--line-height--headings--gigantic);
  letter-spacing: var(--wp--custom--typography--letter-spacing--gigantic);
  margin: 0 0 var(--wp--custom--spacing--outer);
}

// H2
%dgwltd-heading-l,
.dgwltd-heading-l {
  // font-size: clampCalc($type-extra-large, $type-huge, sm, xxl);
  font-family: var(--wp--preset--font-family--soehne-dreiviertelfett);
  font-size: var(--wp--preset--font-size--huge);
  line-height: var(--wp--custom--typography--line-height--headings--gigantic);
  letter-spacing: var(--wp--custom--typography--letter-spacing--gigantic);
  margin: 0 0 var(--wp--custom--spacing--outer);
}

// H3
%dgwltd-heading-m,
.dgwltd-heading-m {
  // font-size: clampCalc($type-large, $type-extra-large, sm, xxl);
  font-family: var(--wp--preset--font-family--soehne-kraftig);
  font-size: var(--wp--preset--font-size--extra-large);
  line-height: var(--wp--custom--typography--line-height--headings--large);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0 0 var(--wp--custom--spacing--outer);
}

// H4
%dgwltd-heading-s,
.dgwltd-heading-s {
  // font-size: clampCalc($type-medium, $type-large, sm, xxl);
  font-family: var(--wp--preset--font-family--soehne-kraftig);
  font-size: var(--wp--preset--font-size--large);
  line-height: var(--wp--custom--typography--line-height--headings--small);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0 0 var(--wp--custom--spacing--small);
}

// H5 / H6
%dgwltd-heading-xs,
.dgwltd-heading-xs {
  font-family: var(--wp--preset--font-family--soehne-kraftig);
  font-size: var(--wp--preset--font-size--medium);
  line-height: var(--wp--custom--typography--line-height--body);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0 0 var(--wp--custom--spacing--small);
}

%dgwltd-body,
.dgwltd-body, 
.govuk-body {
  font-weight: normal;
  margin: 0 0 var(--wp--custom--spacing--outer);
}

%dgwltd-list, 
.dgwltd-list {
  font-size: var(--wp--preset--font-size--normal);
  line-height: var(--wp--custom--typography--line-height--body);
}


%dgwltd-body-l,
.dgwltd-body-l {
  font-size: clampCalc($type-medium, $type-large, sm, xxl);
  line-height: var(--wp--custom--typography--line-height--headings--large);
  margin-bottom: var( --wp--custom--spacing--medium );
}


%dgwltd-body-m,
.dgwltd-body-m {
  font-size: clampCalc($type-normal, $type-medium, sm, xxl);
  line-height: var(--wp--custom--typography--line-height--body);
  margin-bottom: var( --wp--custom--spacing--medium );
}

%dgwltd-body-s,
.dgwltd-body-s {
  font-size: var(--wp--preset--font-size--small);
  line-height: var(--wp--custom--typography--line-height--body);
  margin-bottom: var( --wp--custom--spacing--small );
}

%dgwltd-body-xs,
.dgwltd-body-xs {
  font-size: var(--wp--preset--font-size--tiny);
  line-height: var(--wp--custom--typography--line-height--body);
}

%dgwltd-navigation,
.dgwltd-navigation {
  font-family: var(--wp--preset--font-family--soehne-kraftig);
  font-size: var(--wp--preset--font-size--medium);
  line-height: 1;
} 

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
}

blockquote p {
  hanging-punctuation: first;
  text-indent: -5px;
}
