---
permalink: blocks.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}

<div class="dgwltd-block dgwltd-hero is-style-default has-background has-secondary-background-color alignfull has-text-align-left has-overlay">

			    

			<div class="dgwltd-hero__wrapper">

				<div class="dgwltd-hero__inner">   

					<div class="dgwltd-hero__content stack">

						<div class="acf-innerblocks-container">

<h1 class="wp-block-heading">Do you mind if we park for a while?</h1>



<p>I have to tell you about the future. Marty, you’re acting like you haven’t seen me in a week. I guess you guys aren’t ready for that yet. But your kids are gonna love it. Lorraine, are you up there? Well, what if they didn’t like them, what if they told me I was no good. I guess that would be pretty hard for somebody to understand.</p>

</div>
						
						
						

					</div>
				</div>

			</div>

</div>



<div class="dgwltd-block dgwltd-cards dgwltd-section">

	<div class="dgwltd-cards__content">	

		<div class="acf-innerblocks-container">

<h2 class="wp-block-heading dgwltd-section-title">Cards new</h2>



	<div class="dgwltd-cards__grid grid-count--2">
					<div class="dgwltd-card card-1"> 
	<div class="dgwltd-card__inner">

				<div class="dgwltd-card__image dgwltd-card__image-placeholder"></div>
			
		<div class="dgwltd-card__content">

							<div class="dgwltd-terms">
    <a href="https://dev.wp.dgw.ltd.ddev.site:8443/category/test-1/" class="dgwltd-term">Test 1</a></div>			
			<h2 class="dgwltd-card__heading">

				<a class="dgwltd-card__link" href="https://dev.wp.dgw.ltd.ddev.site:8443/2024/01/23/accusantium-fugit-placeat-quia-totam-dolorum/">
					Accusantium fugit placeat quia totam dolorum            	</a>

			</h2>

			
			
   							<div class="dgwltd-card__excerpt">
				Quasi vitae. 
				</div>
			
						
		</div>



	</div>
</div>					<div class="dgwltd-card card-2"> 
	<div class="dgwltd-card__inner">

				<div class="dgwltd-card__image dgwltd-card__image-placeholder"></div>
			
		<div class="dgwltd-card__content">

							<div class="dgwltd-terms">
    <a href="https://dev.wp.dgw.ltd.ddev.site:8443/category/test-1/" class="dgwltd-term">Test 1</a></div>			
			<h2 class="dgwltd-card__heading">

				<a class="dgwltd-card__link" href="https://dev.wp.dgw.ltd.ddev.site:8443/2024/05/12/amet-ea-quia-vitae-ipsa-quos-ullam/">
					Amet ea quia vitae ipsa quos ullam            	</a>

			</h2>

			
			
   							<div class="dgwltd-card__excerpt">
				Deleniti necessitatibus vero culpa totam rerum etDucimus neque quodIn architecto exercitationem iure. Est perferendis ipsa etQuas voluptasAd suscipit modi atque dicta etPlaceat nemo nostrum vel et nulla eum natus
Velit… 
				</div>
			
						
		</div>



	</div>
</div>			</div>

</div>
	
	</div>

</div>

<div class="dgwltd-block dgwltd-cards dgwltd-section">

	<div class="dgwltd-cards__content">	

		<div class="acf-innerblocks-container">

<h2 class="wp-block-heading dgwltd-section-title"><br />Cards</h2>



	<div class="dgwltd-cards__grid grid-count--3">
					<div class="dgwltd-card has-post-thumbnail card-1"> 
	<div class="dgwltd-card__inner">

							
			
								<img src="https://dev.wp.dgw.ltd.ddev.site:8443/wp-content/uploads/2022/12/delorean-scaled.webp" alt="DeLorean time machine outside a library" />
							
			
						
		<div class="dgwltd-card__content">

							<div class="dgwltd-terms">
    </div>			
			<h2 class="dgwltd-card__heading">

				<a class="dgwltd-card__link" href="https://dev.wp.dgw.ltd.ddev.site:8443/blocks/">
					Blocks            	</a>

			</h2>

			
			
   							<div class="dgwltd-card__excerpt">
				Do you mind if we park for a while?



I have to tell you about the future. Marty, you're acting like you haven't seen me in a week. I guess… 
				</div>
			
						
		</div>



	</div>
</div>					<div class="dgwltd-card has-post-thumbnail card-2"> 
	<div class="dgwltd-card__inner">

							
			
								<img src="https://dev.wp.dgw.ltd.ddev.site:8443/wp-content/uploads/2022/12/IMG_3985-jpg.webp" alt="DeLorean time machine in a warehouse" />
							
			
						
		<div class="dgwltd-card__content">

							<div class="dgwltd-terms">
    </div>			
			<h2 class="dgwltd-card__heading">

				<a class="dgwltd-card__link" href="https://dev.wp.dgw.ltd.ddev.site:8443/guide-template/">
					Guide page            	</a>

			</h2>

			
			
   							<div class="dgwltd-card__excerpt">
				Yeah, gimme a Tab. Right. We do now. It's already mutated into human form, shoot it. No no no, Doc, I just got here, okay, Jennifer's here, we're gonna… 
				</div>
			
						
		</div>



	</div>
</div>					<div class="dgwltd-card card-3"> 
	<div class="dgwltd-card__inner">

				<div class="dgwltd-card__image dgwltd-card__image-placeholder"></div>
			
		<div class="dgwltd-card__content">

							<div class="dgwltd-terms">
    </div>			
			<h2 class="dgwltd-card__heading">

				<a class="dgwltd-card__link" href="https://dev.wp.dgw.ltd.ddev.site:8443/guide-template/guide-page-1/">
					Guide page – 1            	</a>

			</h2>

			
			
   							<div class="dgwltd-card__excerpt">
				Hey, hey, Doc, where are you? Just turn around, McFly, and walk away. Are you deaf, McFly? Close the door and beat it. You know Marty, you look so… 
				</div>
			
						
		</div>



	</div>
</div>			</div>

</div>
	
	</div>

</div>


<div class="dgwltd-block dgwltd-banner alignfull has-text-align-left has-image">

			  
								  
					<div class="dgwltd-block__background">
						
						
							
							<img src="https://dev.wp.dgw.ltd.ddev.site:8443/wp-content/uploads/2022/12/IMG_6595-640x480.webp" width="640" height="480" alt="DeLorean time machine near a lake" />
						
						
					</div>
			    

			<div class="dgwltd-banner__wrapper">
				<div class="dgwltd-banner__inner">   

				<div class="dgwltd-banner__content">
					<div class="acf-innerblocks-container">

<h3 class="wp-block-heading alignfull">asdasdd</h3>



<h2 class="wp-block-heading"></h2>



<p></p>

</div>
				</div>
				
				</div>
			</div>

</div>



<div class="wp-block-columns is-layout-flex wp-container-core-columns-is-layout-1 wp-block-columns-is-layout-flex">
<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<h2 class="wp-block-heading">FAQs</h2>
</div>



<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow"><div class="dgwltd-block dgwltd-accordion">
		<div class="govuk-accordion">
												
			<div class="govuk-accordion__section">

					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
							<span class="govuk-accordion__section-button">
								What the hell is this?							</span>
						</h2>
					</div>

					<div class="govuk-accordion__section-content">
						<p>The way I see it, if you’re gonna build a time machine into a car why not do it with some style. Besides, the stainless, steel construction made the flux dispersal- look out.</p>
					</div>

			</div>

													
			<div class="govuk-accordion__section">

					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
							<span class="govuk-accordion__section-button">
								Okay, but I don't know what to say.							</span>
						</h2>
					</div>

					<div class="govuk-accordion__section-content">
						<p>I gotta go, uh, I gotta go. Thanks very much, it was wonderful, you were all great. See you all later, much later. This sounds pretty heavy. Ah well, sort of. The flux capacitor. Who are you?</p>
					</div>

			</div>

													
			<div class="govuk-accordion__section">

					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
							<span class="govuk-accordion__section-button">
								Pretty Mediocre photographic fakery, they cut off your brother's hair.							</span>
						</h2>
					</div>

					<div class="govuk-accordion__section-content">
						<p>Einstein, hey Einstein, where’s the Doc, boy, huh? Doc Yeah, well, I still don’t understand what Dad was doing in the middle of the street. Yeah, well uh, lets keep this brain melting stuff to ourselves, okay? That’s true, Marty, I think you should spend the night. I think you’re our responsibility. What’s a rerun?</p>
					</div>

			</div>

			
		</div>
</div>
</div>
</div>



<div class="wp-block-columns is-layout-flex wp-container-core-columns-is-layout-2 wp-block-columns-is-layout-flex">
<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<h2 class="wp-block-heading">1.21 Gigawatts!?!</h2>
</div>



<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow"></div>
</div>

{% endblock %}