---
permalink: guide-template/guide-page-1.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}

<p>Hey, hey, Doc, where are you? Just turn around, McFly, and walk away. Are you deaf, McFly? Close the door and beat it. You know Marty, you look so familiar, do I know your mother? Uh Doc, uh no. No, don’t be silly. Yeah.</p>



<p>I guarantee it. Hi, Marty. Don’t worry. As long as you hit that wire with the connecting hook at precisely 88 miles per hour, the instance the lightning strikes the tower, everything will be fine. I swiped it from the old lady’s liquor cabinet. C’mon, Mom, make it fast, I’ll miss my bus. Hey see you tonight, Pop. Woo, time to change that oil.</p>



<p>Well looky what we have here. No no no, you’re staying right here with me. Alright, c’mon, I think we’re safe. Yeah okay. Okay Doc, this is it. Oh no, don’t touch that. That’s some new specialized weather sensing equipment.</p>

{% endblock %}