---
permalink: guide-template.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}

<p>Yeah, gimme a Tab. Right. We do now. It’s already mutated into human form, shoot it. No no no, Doc, I just got here, okay, Jennifer’s here, we’re gonna take the new truck for a spin.</p>



<p>Where were we. Jesus, you smoke too? Wait a minute. Wait a minute, Doc. Are you telling me that it’s 8:25? Alright, let’s set your destination time. This is the exact time you left. I’m gonna send you back at exactly the same time. It’s be like you never left. Now, I painted a white line on the street way over there, that’s where you start from. I’ve calculated the distance and wind resistance fresh to active from the moment the lightning strikes, at exactly 7 minutes and 22 seconds. When this alarm goes off you hit the gas. And he could sleep in my room.</p>



<p>So tell me, future boy, who’s president of the United States in 1985? Ronald Reagon, the actor? Then who’s vice president, Jerry Lewis? I suppose Jane Wymann is the first lady. Re-elect Mayor Goldie Wilson. Progress is his middle name. That’s right, he’s gonna be mayor. Just say anything, George, say what ever’s natural, the first thing that comes to your mind.</p>

{% endblock %}