---
permalink: native-blocks.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}
<div class="wp-block-dgwltd-picker">
    <div class="stack">
            <h2>Hello world</h2>
                <ul>
                            <li>
                    <a href="https://dev.wp.dgw.ltd.ddev.site:8443/blocks/">
                        Blocks (page)
                    </a>
                </li>
                            <li>
                    <a href="https://dev.wp.dgw.ltd.ddev.site:8443/2024/06/08/perspiciatis-optio-ex-temporibus-in-autem-explicabo/">
                        Perspiciatis optio ex temporibus in autem explicabo (post)
                    </a>
                </li>
                            <li>
                    <a href="https://dev.wp.dgw.ltd.ddev.site:8443/2024/09/01/ut-voluptatem-ipsam-asperiores-reprehenderit/">
                        Ut voluptatem ipsam asperiores reprehenderit (post)
                    </a>
                </li>
                    </ul>
                </div>
</div>
{% endblock %}