---
permalink: query.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}

<div class="wp-block-query is-layout-flow wp-block-query-is-layout-flow"><ul class="wp-block-post-template is-layout-flow wp-block-post-template-is-layout-flow"><li class="wp-block-post post-540 post type-post status-publish format-standard has-post-thumbnail hentry category-test-1 category-test-2 category-test-3">
<h2 class="wp-block-post-title">Ut voluptatem ipsam asperiores reprehenderit</h2>

<div class="wp-block-post-date">September 1, 2024</div>
</li><li class="wp-block-post post-565 post type-post status-publish format-standard hentry category-test-1">
<h2 class="wp-block-post-title">Aut nemo eos sit placeat commodi</h2>

<div class="wp-block-post-date">August 9, 2024</div>
</li><li class="wp-block-post post-534 post type-post status-publish format-standard hentry category-test-1 category-test-2 category-test-3">
<h2 class="wp-block-post-title">Ex distinctio quae inventore ipsa autem</h2>

<div class="wp-block-post-date">June 26, 2024</div>
</li><li class="wp-block-post post-535 post type-post status-publish format-standard has-post-thumbnail hentry category-test-1 category-test-2 category-test-3">
<h2 class="wp-block-post-title">Ut nihil occaecati quia doloribus</h2>

<div class="wp-block-post-date">June 25, 2024</div>
</li><li class="wp-block-post post-556 post type-post status-publish format-standard has-post-thumbnail hentry category-test-1 category-test-2 category-test-3">
<h2 class="wp-block-post-title">Aut consectetur iste amet quam et aut</h2>

<div class="wp-block-post-date">June 23, 2024</div>
</li><li class="wp-block-post post-526 post type-post status-publish format-standard has-post-thumbnail hentry category-test-1 category-test-2">
<h2 class="wp-block-post-title">Est occaecati iure expedita vel in dolores</h2>

<div class="wp-block-post-date">June 15, 2024</div>
</li><li class="wp-block-post post-537 post type-post status-publish format-standard has-post-thumbnail hentry category-test-1 category-test-3">
<h2 class="wp-block-post-title">Tenetur asperiores minus doloribus</h2>

<div class="wp-block-post-date">June 9, 2024</div>
</li><li class="wp-block-post post-569 post type-post status-publish format-standard hentry category-test-1">
<h2 class="wp-block-post-title">Amet ea quia vitae ipsa quos ullam</h2>

<div class="wp-block-post-date">May 12, 2024</div>
</li><li class="wp-block-post post-522 post type-post status-publish format-standard hentry category-test-1 category-test-3">
<h2 class="wp-block-post-title">Ut error quo voluptatem qui harum amet</h2>

<div class="wp-block-post-date">May 11, 2024</div>
</li><li class="wp-block-post post-533 post type-post status-publish format-standard hentry category-test-1 category-test-2 category-test-3">
<h2 class="wp-block-post-title">Reiciendis omnis libero unde</h2>

<div class="wp-block-post-date">May 7, 2024</div>
</li></ul>




<div class="wp-block-query-pagination-numbers"><span class="page-numbers current">1</span>
<a class="page-numbers" href="?query-0-page=2">2</a></div>

<a href="?query-0-page=2" class="wp-block-query-pagination-next">Next Page</a>


</div>

{% endblock %}