---
permalink: index.html
file_type: html
---

{% extends "layouts/base.njk" %}
{% block content %}

<h1 class="wp-block-heading swiss-shift"><span class="background">Ola</span> <span class="foreground">DGW.ltd</span></h1>



<p>An open-source hybrid theme for WordPress. This leans heavily on block based theming, although is not a Full Site Editing (FSE) theme, rather a combination of custom blocks, <a href="https://github.com/dogwonder/dgwltd-theme/blob/main/theme.json">theme.json</a> and PHP templating, <a href="https://github.com/dogwonder/dgwltd-theme">read more</a>.</p>



<p>This site uses <a href="https://satoristudio.net/delorean-ipsum/">DeLorean ipsum</a> for placeholder text, and some Back to the Future based fun.  </p>



<p>There is also a <a href="https://github.com/dogwonder/dgwltd-plugin">custom plugin</a> for this site that allows for a bunch of custom blocks. The <a href="https://wp.dgw.ltd/blocks/">blocks page</a> uses many of these.</p>



<ul class="wp-block-list">
<li>DGW.ltd Accordion – based on GOV.UK’s <a href="https://design-system.service.gov.uk/components/accordion/">accordion pattern</a></li>



<li>DGW.ltd Banner – text and background image similar to hero but less showy</li>



<li>DGW.ltd Embed – lite embed custom element for <a href="https://github.com/paulirish/lite-youtube-embed">Youtube</a> and <a href="https://github.com/slightlyoff/lite-vimeo">Vimeo</a></li>



<li>DGW.ltd Cards – grid of cards linking to other pages, title, excerpt and featured image</li>



<li>DGW.ltd Image – custom image with aspect ratio variables</li>



<li>DGW.ltd Hero – hero with big image / video as background</li>



<li>DGW.ltd Promo card – offset image and content block</li>
</ul>

{% endblock %}