.govuk-breadcrumbs {
  ol.govuk-breadcrumbs__list {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  .govuk-breadcrumbs__list-item {
    color: var(--wp--preset--color--dark);
    margin-left: 0;
    margin-right: var(--wp--custom--spacing--small);
    display: flex;
    &:last-of-type {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: "›";
      margin-left: var(--wp--custom--spacing--small);
    }
  }
  .govuk-breadcrumbs__link {
    
  }
}
