//Grid 
//Usage <ul class="features grid" role="list">

.grid {
  display: grid;
  gap: var(--gutter,var(--wp--custom--spacing--medium));
  grid-template-columns: repeat(var(--grid-placement,auto-fill),minmax(var(--grid-min-item-size,16rem),1fr));
}

//3 col grid
.features  {
  --grid-placement: auto-fit:
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
  --gutter: var(--wp--custom--spacing--medium);
}