//Sticky footer
.dgwltd-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//Anchor the footer to the bottom of the page
.dgwltd-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Page layout
.dgwltd-masthead, 
.entry-header, 
.entry-content, 
.entry-footer, 
.entry-wrapper {
  padding:0;
  max-width: 100%;
  display: grid;
  grid-template-columns: $fluid-container;
  > * {
    grid-column: 2 / span 1;
  }
}

//Page layout
.dgwltd-content-wrapper {
  padding:0;
  max-width: 100%;
  .entry-header {
    > * {
      margin-block-start: 0;
      margin-block-end: var(--wp--custom--spacing--gap);
    }
  }
}

//Add a little space to the content blockk
.entry-content {
  padding-block-end: var(--wp--custom--spacing--lg);
}

//Hero followed by Featured block
.wp-block-post-content {
  .dgwltd-hero + .dgwltd-feature {
    --buffer: 0;
  }
}

//Blocks page - add some extra spacing
.dgwltd-content-wrapper:has(.dgwltd-hero) {
  --space: var(--wp--custom--spacing--xl) !important;
}

