.dgwltd-pagination {
  margin: var( --wp--custom--spacing--large ) 0;
  
  .dgwltd-pagination__list {
    padding:0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .dgwltd-pagination__item {
    border-top: 1px solid var(--border);
  }
  
  .dgwltd-pagination__link-title {
    display: block;
    font-weight: $bold;
    a {
      margin-left: var( --wp--custom--spacing--extra-small );
    }
  }

  .dgwltd-pagination__link-icon {
    fill: currentColor;
  }

  .dgwltd-pagination__link-label {
    @extend %dgwltd-body-xs;
    text-decoration: underline;
    margin: var( --wp--custom--spacing--extra-small ) 0 0 23px;
    display: inline-block;
  }

  .dgwltd-pagination__link {
    display: block;
    text-decoration: none;
    padding: var( --wp--custom--spacing--small ) var( --wp--custom--spacing--small ) var( --wp--custom--spacing--medium );
    
    > * {
      color: currentColor;
    }

    &:hover {
      > * {
        color: var(--highlight);
      }
      .dgwltd-pagination__link-icon {
        fill: var(--highlight);
      }
    }

    &:active,
    &:focus {
      background-color: var(--highlight);
      .dgwltd-pagination__item {
        border-top: 1px solid var(--dark);
      }
      .dgwltd-pagination__link-title, 
      .dgwltd-pagination__link-label {
        color: var(--light);
      }
      .dgwltd-pagination__link-icon {
        fill: var(--light);
      }
    }
  }
  &.dgwltd-pagination--pages {
    .dgwltd-pagination__list {
      @include mq($from: md) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
  &.dgwltd-pagination--noprev {
    .dgwltd-pagination__list {
      @include mq($from: md) {
        justify-content: flex-end;
      }
    }
  }
}
