---
permalink: '../../../../sw.js'
---

const CACHE_NAME = 'dgwltd-{% pkgVersion %}'; 
const THEME_PATH = 'wp-content/themes/dgwltd/';

// Files to precache
const precacheFiles = [
  `${THEME_PATH}/dist/offline.html`,
  `${THEME_PATH}/dist/css/main.css`,
  `${THEME_PATH}/dist/js/app.min.js`,
  `${THEME_PATH}/dist/js/govuk-frontend-5.6.0.min.js`,
  `${THEME_PATH}/dist/icons/fav/favicon.png`,
  `${THEME_PATH}/dist/icons/fav/favicon-192x192.png`,
  `${THEME_PATH}/dist/fonts/soehne/soehne-halbfett.woff2`,
  `${THEME_PATH}/dist/fonts/soehne/soehne-kraftig.woff2`
];