---
permalink: '../src/assets/scss/modules/_tokens.scss'
---
:root {

  /*Utopia generated tokens*/
  {%- for size in utopia.resultsSpace %}
  --space-{{ size.label }}: {{ size.clamp }}; //{{ size.minSize }}px - {{ size.maxSize }}px
  {%- endfor %}

  {%- for size in utopia.resultsStep %}
  --step-{{ size.label }}: {{ size.clamp }}; //{{ size.minSize }}px - {{ size.maxSize }}px
  {%- endfor %}
 
}