---
permalink: '../src/assets/scss/modules/_tokens.scss'
---

{% set minWidth = 320 %}
{% set maxWidth = 1280 %}


:root {

  --logo: {% calculateClamp 384, 1280, minWidth, maxWidth %}
  --text: {% calculateClamp 32, 48, minWidth, maxWidth %}

  /*Utopia generated tokens*/
  {%- for size in utopia.resultsSpace %}
  --space-{{ size.label }}: {{ size.clamp }}; //{{ size.minSize }}px - {{ size.maxSize }}px
  {%- endfor %}

  {%- for size in utopia.resultsStep %}
  --step-{{ size.label }}: {{ size.clamp }}; //{{ size.minSize }}px - {{ size.maxSize }}px
  {%- endfor %}
 
}