








:root {
--wp--preset--color--primary: #FA008A;
--wp--preset--color--secondary: #00E5E5;
--wp--preset--color--accent-primary: #D60076;
--wp--preset--color--accent-magenta: #C3006A;
--wp--preset--color--accent-peach: #FFC3B9;
--wp--preset--color--accent-purple: #9A00FA;
--wp--preset--color--dark: #0d0f05;
--wp--preset--color--light: #ffffff;
--wp--preset--color--alt: #f1f2f0;
--wp--preset--color--focus: #FFDD00;
--wp--custom--color--background: light-dark(var(--wp--preset--color--alt), var(--wp--preset--color--dark));
--wp--custom--color--text: light-dark(var(--wp--preset--color--dark), var(--wp--preset--color--light));
--wp--custom--color--border: #666666;
--wp--custom--color--success: #457c39;
--wp--custom--color--error: #db2f27;
--wp--custom--color--disabled: #999999;
--wp--preset--spacing--x-small: var(--wp--custom--spacing--xs);
--wp--preset--spacing--small: var(--wp--custom--spacing--sm);
--wp--preset--spacing--medium: var(--wp--custom--spacing--md);
--wp--preset--spacing--large: var(--wp--custom--spacing--lg);
--wp--preset--spacing--x-large: var(--wp--custom--spacing--xl);
        --wp--custom--spacing--gap: 1.25rem;
        --wp--custom--spacing--3-xs: 0.3125rem;
        --wp--custom--spacing--2-xs: 0.625rem;
        --wp--custom--spacing--xs: clamp(0.8125rem, 0.7786rem + 0.1695vi, 0.9375rem);
        --wp--custom--spacing--sm: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem);
        --wp--custom--spacing--md: clamp(1.625rem, 1.5572rem + 0.339vi, 1.875rem);
        --wp--custom--spacing--lg: clamp(2.125rem, 2.0233rem + 0.5085vi, 2.5rem);
        --wp--custom--spacing--xl: clamp(3.1875rem, 3.035rem + 0.7627vi, 3.75rem);
        --wp--custom--spacing--2-xl: clamp(4.25rem, 4.0466rem + 1.0169vi, 5rem);
        --wp--custom--spacing--xs-s: clamp(0.8125rem, 0.6939rem + 0.5932vi, 1.25rem);
        --wp--custom--spacing--s-xxl: clamp(1.0625rem, -0.0053rem + 5.339vi, 5rem);
        --wp--preset--font-family--system-font: system-ui, sans-serif;
        --wp--preset--font-family--primary: "Söhne Dreiviertelfett", sans-serif;
        --wp--preset--font-family--secondary: "Söhne Halbfett", sans-serif;
        --wp--preset--font-family--tertertiary: "Söhne Kraftig", sans-serif;
        --wp--preset--font-family--charts: "Chartwell Pies", sans-serif;
        --wp--preset--font-family--monospace: monospace;
            --wp--preset--font-size--xs: 0.875rem;
        
            --wp--preset--font-size--sm: 1rem;
        --wp--preset--font-size--body: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem);
        --wp--preset--font-size--md: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem);
        --wp--preset--font-size--lg: clamp(1.275rem, 1.197rem + 0.3898vi, 1.5625rem);
        --wp--preset--font-size--xl: clamp(1.53rem, 1.4153rem + 0.5737vi, 1.9531rem);
        --wp--preset--font-size--2-xl: clamp(1.836rem, 1.6718rem + 0.8209vi, 2.4414rem);
        --wp--preset--font-size--3-xl: clamp(2.2032rem, 1.9731rem + 1.1506vi, 3.0518rem);
        
        --wp--custom--typography--letter-spacing--body: -0.01em;
        --wp--custom--typography--letter-spacing--heading: -0.02em;
        --wp--custom--typography--letter-spacing--large: 0.01em;
        --wp--custom--typography--letter-spacing--uppercase: 0;
        --wp--custom--typography--line-height--micro: 0.85;
        --wp--custom--typography--line-height--flat: 1;
        --wp--custom--typography--line-height--fine: 1.2;
        --wp--custom--typography--line-height--standard: 1.5;
        --wp--custom--typography--line-height--loose: 1.7;
        --wp--preset--border-radius--small: 0.25rem;
        --wp--preset--border-radius--medium: 0.5rem;
        --wp--preset--shadow--high: 0 var(--wp--custom--spacing--md) var(--wp--custom--spacing--md) rgb(0, 0, 0, 0.2);
        --wp--preset--shadow--low: 0 var(--wp--custom--spacing--sm) var(--wp--custom--spacing--sm) rgb(0, 0, 0, 0.2);
        --wp--custom--width--container: 70rem;
        --wp--custom--width--content: 52rem;
        --wp--custom--width--content-small: 38rem;
        --wp--custom--width--character: 68ch;  

}

:root {
    --wp--style--block-gap: var(--flow-space, var(--wp--custom--spacing--gap))
}
:root :where(.is-layout-flow) > :first-child {
    margin-block-start: 0
}
:root :where(.is-layout-flow) > :last-child {
    margin-block-end: 0
}
:root :where(.is-layout-flow) > * {
    margin-block-start: var(--flow-space, var(--wp--custom--spacing--gap));
    margin-block-end: 0
}

body {
    color: var(--wp--custom--color--text);
    background-color: var(--wp--custom--color--background);
    font-family: var(--wp--preset--font-family--system-font);
    font-size: var(--wp--preset--font-size--body);
    font-weight: 400;
    letter-spacing: var(--wp--custom--typography--letter-spacing--body);
    line-height: var(--wp--custom--typography--line-height--standard);
}
    button {
    }
    textInput {
    }
    select {
    }
    h1 {
        font-family: var(--wp--preset--font-family--primary);
        font-size: var(--wp--preset--font-size--3-xl);
        font-weight: 800;
        line-height: var(--wp--custom--typography--line-height--fine);
        letter-spacing: var(--wp--custom--typography--letter-spacing--lg);
    }
    h2 {
        font-family: var(--wp--preset--font-family--secondary);
        font-size: var(--wp--preset--font-size--2-xl);
        font-weight: 600;
        line-height: var(--wp--custom--typography--line-height--fine);
        letter-spacing: var(--wp--custom--typography--letter-spacing--lg);
    }
    h3 {
        font-family: var(--wp--preset--font-family--secondary);
        font-size: var(--wp--preset--font-size--xl);
        font-weight: 600;
        line-height: var(--wp--custom--typography--line-height--fine);
        letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
    }
    h4 {
        font-family: var(--wp--preset--font-family--tertiary);
        font-size: var(--wp--preset--font-size--lg);
        font-weight: 500;
        line-height: var(--wp--custom--typography--line-height--standard);
        letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
    }
    h5 {
        font-family: var(--wp--preset--font-family--tertiary);
        font-size: var(--wp--preset--font-size--md);
        font-weight: 500;
        line-height: var(--wp--custom--typography--line-height--standard);
        letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
    }
    h6 {
        font-family: var(--wp--preset--font-family--tertiary);
        font-size: var(--wp--preset--font-size--md);
        font-weight: 500;
        line-height: var(--wp--custom--typography--line-height--standard);
        letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
    }
    link {
    }
    .has-primary-background-color {
        background-color:#FA008A !important;
    }
    .has-secondary-background-color {
        background-color:#00E5E5 !important;
    }
    .has-accent-primary-background-color {
        background-color:#D60076 !important;
    }
    .has-accent-magenta-background-color {
        background-color:#C3006A !important;
    }
    .has-accent-peach-background-color {
        background-color:#FFC3B9 !important;
    }
    .has-accent-purple-background-color {
        background-color:#9A00FA !important;
    }
    .has-dark-background-color {
        background-color:#0d0f05 !important;
    }
    .has-light-background-color {
        background-color:#ffffff !important;
    }
    .has-alt-background-color {
        background-color:#f1f2f0 !important;
    }
    .has-focus-background-color {
        background-color:#FFDD00 !important;
    }