<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
    {#- Add an arbitrary string to the bundle #}
		{%- css %}
    @font-face {
        font-family: 'Söhne Dreiviertelfett';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('{{ "./fonts/soehne/soehne-dreiviertelfett.woff2" | htmlBaseUrl }}') format('woff2');
    }
    @font-face {
        font-family: 'Söhne Halbfett';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('{{ "./fonts/soehne/soehne-halbfett.woff2" | htmlBaseUrl }}') format('woff2');
    }
    @font-face {
        font-family: 'Söhne Kraftig';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('{{ "./fonts/soehne/soehne-kraftig.woff2" | htmlBaseUrl }}') format('woff2');
    }
    @font-face {
        font-family: 'Chartwell Pies';
        font-style: normal;
        font-display: fallback;
        src: url('{{ "./fonts/chartwell/Chartwell-Pies.woff2" | htmlBaseUrl }}') format('woff2');
    }
    {% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}
    {% include "dist/css/main.css" %}
    {#- WordPress styles after the theme CSS #}
    {% include "dist/css/wp.css" %}
    {% endcss %}
    {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
  </head>
  <body class="dgwltd no-js {{ class if class }}">
    <script>document.body.className = document.body.className.replace('no-js', 'js-enabled govuk-frontend-supported');</script>
    <div id="page" class="dgwltd-wrapper">
        <header id="masthead" class="dgwltd-masthead">
          <div id="skiplink-container">
            <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
          </div>
          {% include "partials/_header.njk" %}  
        </header>
        <main id="content" class="dgwltd-body" tabindex="-1">
            <div id="primary" class="dgwltd-content-wrapper">
                <div class="entry-content wp-block-post-content is-layout-flow">
                  {% if file_type == 'html' %}
                    {% block content %}
                      This is content
                    {% endblock %}
                  {% else %}
                    {{ content | safe }}
                  {% endif %}
                </div>
            </div>
        </main>
        <footer class="dgwltd-footer">
          {% include "partials/_footer.njk" %}  
        </footer>
    </div>
    <!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
    <script type="module" src="{% getBundleFileUrl "js" %}"></script>
    <script type="module" src="{{ "./js/app.min.js" | htmlBaseUrl }}"></script>
    {% getBundle "fontawesome" %}
  </body>
</html>