{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title | safe }}</title>
    <style>{% getBundle "css", "default" %}</style>
    {% if bucket == "offline" %}
    <style>{% getBundle "css", "offline" %}</style>
    {% endif %}
    {% css %}
    {% include "dist/css/wp.css" %}
    {% include "dist/css/main.css" %}
    {% endcss %}
  </head>
  <body class="dgwltd {{ class if class }}">
    <div id="page" class="dgwltd-wrapper">
        <div id="skiplink-container">
            <a href="#content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
        </div>
        <header id="masthead" class="dgwltd-masthead">
          {% include "partials/_header.njk" %}
        </header>
        <main id="content" class="dgwltd-container" tabindex="-1">
            <div id="primary" class="dgwltd-content-wrapper">
                <article class="dgwltd-page">
                  <div class="entry-content stack">
                    {{ content | safe }}
                  </div>
                </article>
            </div>
        </main>
        <footer class="dgwltd-footer">
        </footer>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>