//Links
a {
  color: var(--wp--custom--color--text, inherit);
  text-decoration: underline;
  //Break long urls
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration-thickness: max(1px, .025em);
  text-underline-offset: .1578em;
  &:visited {
    color: var(--wp--custom--color--text);
  }
  &:hover {
    color: var(--wp--custom--color--text);
    text-decoration-color: var(--wp--preset--color--primary);
    text-decoration-thickness: max(3px, .1875rem, .1em);
  }
  &:active {
    color: var(--wp--custom--color--text);
    text-decoration: none;
  }
}

//Focus styles  - via https://www.youtube.com/watch?v=FfQ-JuaNO68
:is(a, button, input, textarea, summary) {
  --outline-color: transparent;
  --outline-style: solid;
  --outline-size: .25rem;
  --outline-width: .25rem;
  --background-color: var(--wp--preset--color--focus);
  --box-shadow-color: var(--wp--preset--color--focus);
  --box-shadow: 0 -2px var(--box-shadow-color), 0 4px currentColor;
}

//Set a global default for focus visible styles
:is(a, button, input, textarea, summary):focus-visible {
  outline:
    var(--outline-color)
    var(--outline-style)
    var(--outline-size)
    var(--outline-width);
  outline-offset: var(--outline-offset, var(--outline-size));
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

//Custom inset for buttons, using the optional --outline-offset variable
// button {
//   --outline-offset: -0.15em;
// }

// .link {
//   &:focus-visible {
//     --background-color: var(--wp--preset--color--primary);
//     --box-shadow-color: var(--wp--preset--color--primary);
//   }
// }


//Reset the outline - :is won't work in IE11 etc so it won't be applied and will get the browser default outlines
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

:target {
  scroll-margin-block: 5lh;
}

//SVGs
svg:not([class]) {
  width: auto;
  height: 1lh;
}

svg {
  flex-shrink: 0;
}

hr {
  margin-block: var(--flow-space, --wp--custom--spacing--gap);
  border: none;
  border-block-start: var(--wp--custom--color--dark);
}

ul:not([class]) {
  padding-inline-start: 1.7ch;
  list-style-type: disc;
  > li {
    padding-inline-start: var(--wp--custom--spacing--xs);
  }
}

ul ::marker {
  font-size: 0.8lh;
}

ol:not([class]) {
    padding-inline-start: 1.7ch;
    list-style-type: decimal;
}

ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}

:is(ol, ul):not([class]) li + * {
  margin-block-start: var(--flow-space, var(--wp--custom--spacing--xs));
}

blockquote p {
  hanging-punctuation: first;
  text-indent: -5px;
}

small {
  font-size: var(--wp--preset--font-size--sm);
}

:is(code, kbd, samp) {
  font-family: var(--wp--preset--font-family--monospace);
  padding: 0.2em 0.2em 0.05em 0.2em;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  box-decoration-break: clone;
}

/* This is quite a new property, so we want code styles to at least, not be huge or tiny */
@supports not (font-size-adjust: from-font) {
  :is(code, kbd, samp) {
    font-size: 0.8em;
  }
}

pre:has(code) {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

pre code {
  border: none;
  background: none;
  padding: 0;
}

/* Remove all animations and transitions
for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Cross-document view transition */
@view-transition {
  navigation: auto;
}