html { font-family: var(--wp--preset--font-family--system-font); }

//Global
html {
  font-size: 100%;
}

body {
  font-family: var(--wp--preset--font-family--system-font);
  font-weight: normal;
  font-size: var(--wp--preset--font-size--body); 
  font-size-adjust: from-font;
  line-height: var(--wp--custom--typography--line-height--standard);
  letter-spacing: 1rem * 0.02;
  word-spacing: 1rem * 0.04;
  text-align: left;
  background-color: var(--wp--custom--color--background);
  color: var(--wp--custom--color--text);
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  font-kerning: normal;
}

//Note some of the typographic defaults have originated from here https://github.com/clagnut/TODS

//Reset all the margins
body, h1, h2, h3, h4, h5, h6, address, p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div, table, caption, form, fieldset {
  margin: 0;
}

//Margin-block-start approach
:is( h1, h2, h3, h4, h5, h6 ) {
  //Reset browser defaults - we avoid reseting the top margin as this is coverted by template literals
  margin-block: 0;
  font-variant-numeric: lining-nums;
}

:is(h1, h2, h3, h4, h5, h6) + *:not([class]) {
  --flow-space: var(--wp--custom--spacing--sm);
}

//For H1, H2, H3, we use 2-up pairs for responsive typography 
//H1 >> extra-large - massive
//H2 >> large - huge
//H3 >> medium - extra-large

//Line heights are unitless, e.g. 1.5

/*Note: 
I know in general @extend shouldn't be used (https: //csswizardry.com/2016/02/mixins-better-for-performance/) but gov.uk uses silent classes ( https://csswizardry.com/2014/01/extending-silent-classes-in-sass/) for things like typography and that's pretty performant
*/

// .dgwltd-heading-stepper {
//   font-family: var(--wp--preset--font-family--primary);
//   @include clamp-calc-step('font-size', (sm: $type-2, lg: $type-6, xxl: $type-10));
// }

// H1
.dgwltd-heading-xl, 
%dgwltd-heading-xl {
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--3-xl);
  font-variant-ligatures: discretionary-ligatures; 
  line-height: var(--wp--custom--typography--line-height--flat);
  letter-spacing: var(--wp--custom--typography--letter-spacing--gigantic);
  margin: 0;
}

// H2
.dgwltd-heading-lg, 
%dgwltd-heading-lg {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--2-xl);
  line-height: var(--wp--custom--typography--line-height--flat);
  letter-spacing: var(--wp--custom--typography--letter-spacing--gigantic);
  margin: 0;
}

// H3
.dgwltd-heading-md, 
%dgwltd-heading-md {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--xl);
  line-height: var(--wp--custom--typography--line-height--flat);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H4
.dgwltd-heading-sm, 
%dgwltd-heading-sm {
  font-family: var(--wp--preset--font-family--tertiary);
  font-size: var(--wp--preset--font-size--lg);
  line-height: var(--wp--custom--typography--line-height--fine);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

// H5 / H6
%dgwltd-heading-xs,
.dgwltd-heading-xs {
  font-family: var(--wp--preset--font-family--tertiary);
  font-size: var(--wp--preset--font-size--md);
  line-height: var(--wp--custom--typography--line-height--standard);
  letter-spacing: var(--wp--custom--typography--letter-spacing--heading);
  margin: 0;
}

/*
Note we also also have WordPress classes
has-sm-font-size
has-md-font-size
has-lg-font-size
*/

.dgwltd-body, 
%dgwltd-body,
.govuk-body {
  font-weight: normal;
  font-size: var(--wp--preset--font-size--body); 
  line-height: var(--wp--custom--typography--line-height--standard);
}

.dgwltd-body-lg, 
%dgwltd-body-lg {
  font-size: var(--wp--preset--font-size--lg);
  line-height: var(--wp--custom--typography--line-height--flat);
}

.dgwltd-body-md, 
%dgwltd-body-md {
  font-size: var(--wp--preset--font-size--md);
  line-height: var(--wp--custom--typography--line-height--standard);
}

.dgwltd-body-sm, 
%dgwltd-body-sm {
  font-size: var(--wp--preset--font-size--sm);
  line-height: var(--wp--custom--typography--line-height--standard);
}

.dgwltd-body-xs, 
%dgwltd-body-xs {
  font-size: var(--wp--preset--font-size--xs);
  line-height: var(--wp--custom--typography--line-height--standard);
}

.dgwltd-navigation, 
%dgwltd-navigation {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--md);
  line-height: 1;
} 


//Swiss school
.swiss-shift {
  text-wrap: auto;
  span.background {
    opacity: 0.7;
  }
  span.foreground {
    opacity: 1;
    margin-inline-start: -1ch;
  }
}