@use '../../utilities/helpers' as h;

//Banner block
.dgwltd-banner {

    @include h.align-full();

    &.has-background, 
    &.has-image {
      justify-content: center;
      align-items: center;
      position: relative;
      h2 {
        @extend %dgwltd-heading-lg;
      }

      h2, h3, p {
        color:inherit;
      }

      p, li {
        max-width: var(--wp--custom--width--character);
      }

      .dgwltd-banner__wrapper {
        position: relative;
        z-index:2;
        grid-column: 2 / span 1;
        .dgwltd-banner__inner {
          padding-block:var(--wp--custom--spacing--lg);
        }
      }
      
    }

    //Block style varients - styles in block.json
    &.is-style-monochrome {
      .dgwltd-block__background img {
        filter: grayscale(100%) contrast(200%);
      }
    }
    
}