//Hero block
.dgwltd-hero {
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 25rem;
    background-color: var(--wp--preset--color--accent-peach);
    h1, h2 {
    }

    h1, h2, p {
        color:inherit;
    }

    p, li {
        max-width: var(--wp--custom--width--character);
    }

    &__wrapper {
        padding-block: var(--wp--custom--spacing--md);
        grid-column: 2 / span 1;
        z-index:2;
    }

    &.has-image {
        aspect-ratio: 10 / 16;
        background-position: 0 50%;
        background-size: cover;
      @include mq($from: xl) {
          aspect-ratio: initial;
          height: 65vh;
      }
    }

    &.has-video {
      .dgwltd-button {
          display: inline-flex;
          justify-content: space-between;
          background-color: transparent;
          border-color: var(--wp--custom--color--text);
        svg {
            margin-inline-start: 1ch;
            fill: inherit;
            width: 1em;
            height: 1em;
        }
      }
    }

    //Block style varients - styles in block.json
    &.is-style-monochrome {
      .dgwltd-block__background img {
          filter: grayscale(100%) contrast(200%);
      }
    }

    &.has-light-color {
      .dgwltd-hero__play .dgwltd-button {
          border-color: var(--wp--preset--color--light);
          color: var(--wp--preset--color--light);
        svg {
            fill: var(--wp--preset--color--light);
        }
        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
      }
    }
     
  }

//Modal
.is-blacked-out:before {
    content: "";
    display: block;
    position: fixed;
    z-index: $z-important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
} 

.popup-trigger {
    display: inline-block;
    margin: 0;
}

.popup-modal {
    margin-block-start: 0 !important;
    pointer-events: none;
    position: fixed;
    z-index: calc($z-important + 1);
    top: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 0  !important;
    transition: all 300ms ease-in-out;
  &.is--visible {
      pointer-events: auto;
      opacity: 1;
  }

  &__dialog {
      position:relative;
      max-width: clamp(18.75rem,53.125rem,95vw);
      height: clamp(18.75rem,35rem,95vh);
      margin: var(--wp--custom--spacing--lg) auto;
      padding: var(--wp--custom--spacing--md);
      background-color: var(--wp--custom--color--text);
  }

  &__heading {
      margin-block-end: var(--wp--custom--spacing--gap);
      outline: 0;
      display: flex;
      align-items: center;
      min-height: toRem(44);
      padding: 0;
      color: var(--wp--preset--color--light);
  }

  &__close {
      appearance: none;
      box-shadow: none;
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      background-color: transparent;
      cursor: pointer;
      border: none;
    svg {
        fill:var(--wp--preset--color--light);
        width:toRem(44);
        height:toRem(44);
    }
    &:focus-visible {
        box-shadow: none;
        outline: var(--wp--preset--color--light) solid 2px;
        background-color: transparent;
    }
  }

  iframe {
      width: 100%;
      max-width: 100%;
      height: calc(100% - 90px); //Height of the popup header;
  }

}
