
//Promo card block
.dgwltd-promo-card {

    //Always align full
    max-width: 100%;
    grid-column: 1 / span 3 !important;

    &__wrapper {
        position: relative;
        //Create a new stacking context - allows the element we want to go to the back to be positioned relative to this
        isolation: isolate; 
        //Width
        @extend %dgwltd-container;
        //Extra padding
        padding-block: var(--wp--custom--spacing--xl);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @include mq($from: lg) {
            flex-direction: row;
        }
    }

    &__content {
        background-color: var(--wp--preset--color--primary);
        padding: var(--wp--custom--spacing--md);
        position: relative;
        z-index: 2;
        @include mq($from: lg) {
            max-width: var(--wp--custom--width--content-small);
            position: relative; 
        }
        .acf-innerblocks-container {
            @include stack($gap-sm);
        }
        .dgwltd-promo-card__kicker {
            font-size: var(--wp--preset--font-size--md);
            font-weight: bold;
        }
        .wp-block-heading {
            font-size: var(--wp--preset--font-size--lg);
        }
        .wp-block-button {
            --buffer: var(--wp--custom--spacing--md);
        }
        .wp-element-button {
            color: var(--wp--custom--color--text);
            border-color: var(--wp--custom--color--text);
            background-color: transparent;
            margin: 0;
        }
    }

    &__image {
        @include mq($from: lg) {
            flex: 1;   
            position: relative; 
            z-index: 1;
            margin-inline-start: calc(var(--wp--custom--spacing--xl) * -1);
        }
        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }
    }

    &__video {
        width: 100%;
        @include mq($from: lg) {
            flex: 1;   
            position: relative; 
            z-index: 1;
            margin-inline-start: calc(var(--wp--custom--spacing--xl) * -1);
        }
        lite-youtube, 
        lite-vimeo {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }
    }

    //Block options
    &[data-state='reversed'] {
        .dgwltd-promo-card__inner {
          @include mq($from: lg) {
            flex-direction: row-reverse;
          }
        }
        .dgwltd-promo-card__image {
            @include mq($from: lg) {
                margin-inline: 0 calc(var(--wp--custom--spacing--xl) * -1);
            }
        }
        .dgwltd-promo-card__video {
            @include mq($from: lg) {
                margin-inline: 0 calc(var(--wp--custom--spacing--xl) * -1);
            }
        }
    }
    
    //Variations
    &.is-style-dark {
        background-color: var(--wp--preset--color--dark);
        .dgwltd-promo-card__content {
            background-color: var(--wp--preset--color--light);
            color: var(--wp--preset--color--dark);
        }
    }

    &.is-style-light {
        .dgwltd-promo-card__content {
            background-color: var(--wp--preset--color--dark);
            color: var(--wp--preset--color--light);
            .wp-element-button {
                color: var(--wp--preset--color--primary);
                border-color: var(--wp--preset--color--primary);
            }
        }
    } 

    
    
}