
//Promo card block
.dgwltd-promo-card {
    &__wrapper {
        padding-block: var(--wp--custom--spacing--xl);
        isolation: isolate;
        grid-column: 2 / span 1;
        position: relative;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @include mq($from: lg) {
            flex-direction: row;
        }
    }

    &__content {
        --buffer: var(--wp--custom--spacing--sm);
        position: relative;
        z-index: 2;
        padding: var(--wp--custom--spacing--md);
        background-color: var(--wp--preset--color--primary);
        @include mq($from: lg) {
            padding-block: var(--wp--custom--spacing--lg);
            position: relative;
            max-width: var(--wp--custom--width--content-small);
        }
        .acf-innerblocks-container {
        }
        .dgwltd-promo-card__kicker {
            font-weight: bold;
        }
        .wp-block-button {
            --buffer: var(--wp--custom--spacing--md);
        }
        .wp-element-button {
            margin: 0;
            background-color: transparent;
            border-color: var(--wp--custom--color--text);
            color: var(--wp--custom--color--text);
        }
    }

    &__image {
        @include mq($from: lg) {
            margin-inline-start: calc(var(--wp--custom--spacing--xl) * -1);
            flex: 1;
            position: relative;
            z-index: 1;
        }
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            width: 100%;
        }
    }

    &__video {
        width: 100%;
        @include mq($from: lg) {
            margin-inline-start: calc(var(--wp--custom--spacing--xl) * -1);
            flex: 1;
            position: relative;
            z-index: 1;
        }
        lite-youtube, 
        lite-vimeo {
            aspect-ratio: 16 / 9;
            width: 100%;
            height: auto;
        }
    }

    //Block options
    &[data-state='reversed'] {
        .dgwltd-promo-card__inner {
          @include mq($from: lg) {
              flex-direction: row-reverse;
          }
        }
        .dgwltd-promo-card__image {
            @include mq($from: lg) {
                margin-inline: 0 calc(var(--wp--custom--spacing--xl) * -1);
            }
        }
        .dgwltd-promo-card__video {
            @include mq($from: lg) {
                margin-inline: 0 calc(var(--wp--custom--spacing--xl) * -1);
            }
        }
    }
    
    //Variations
    &.is-style-dark {
        background-color: var(--wp--preset--color--dark);
        .dgwltd-promo-card__content {
            background-color: var(--wp--preset--color--light);
            color: var(--wp--preset--color--dark);
        }
    }

    &.is-style-light {
        .dgwltd-promo-card__content {
            background-color: var(--wp--preset--color--dark);
            color: var(--wp--preset--color--light);
            .wp-element-button {
                border-color: var(--wp--preset--color--primary);
                color: var(--wp--preset--color--primary);
            }
        }
    } 
}