//Page list
.dgwltd-contents-list {
  &__title {
      margin: 0;
      font-weight: normal;
  }
  ol.dgwltd-contents-list__list {
      margin: var(--wp--custom--spacing--gap) 0 var(--wp--custom--spacing--gap);
      padding: 0;
      list-style-type: none;
    li {
      &:before {
          margin-inline-end: var(--wp--custom--spacing--sm);
          content: "—";
          display: inline-block;
          font-weight: normal;
      }
      &.current_page_item {
        > a {
            font-weight: bold;
            text-decoration: none;
          &:visited {
              color: var(--wp--custom--color--text);
          }
        }
        color: var(--wp--custom--color--text);
      }
    }
  }
}