//WP entry-content e.g. posts
@use "sass:math";

.entry-content {
  //Hide empty paragraphs
  p:empty {
    display:none;
  }
  //Lists
  ul,
  ol {
      margin-inline-start: 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: disc;
    li {
        margin: 0;
        padding: 0;
      ol {
          margin-block-start: 0;
      }
    }
  }
  ol {
      list-style-type: decimal;
  }
  img {
      max-width: 100%;
      height: auto;
  }
  //Images
  .wp-block-image {
      width: 100%;
      height: auto;
    figure {
        inline-size: fit-content;
        margin-inline: auto;
        width: 100%;
        margin: 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    figcaption {
        padding-block: var(--wp--custom--spacing--xs);
        contain: inline-size;
        margin: 0;
        font-size: var(--wp--preset--font-size--sm);
        color: var(--wp--custom--color--text);
        text-align: left;
    }
    video {
        aspect-ratio: var(--aspect-ratio, var(--vertical-aspect-ratio, math.div(9, 16)));
    }
    @media (min-aspect-ratio: 1 / 1) {
      video {
          --aspect-ratio: var(--horizontal-aspect-ratio, 16 / 9);
      }
    }
    &.alignleft, 
    &.alignright, 
    &.aligncenter {
        display: flex;
        float: none;
      > figcaption {
          display: block;
      }
    }
    &.alignleft {
        justify-content: flex-start;
    }
    &.alignright {
        justify-content: flex-end;
    }
    &.aligncenter {
        justify-content: center;
    }
  }
  // Embed
  .wp-block-embed {
      width: 100%;
      margin: var(--wp--custom--spacing--md) 0;
    .wp-block-embed__wrapper {
        max-width: 100%;
    }
  }
  video,
  object,
  iframe {
      max-width: calc(100% - 40px);
      margin: 0;
  }
  //Seperator
  .wp-block-separator {
      margin: var(--wp--custom--spacing--md) 0;
    @include mq($from: md) {
        margin: var(--wp--custom--spacing--lg) 0;
    }
    height: 1px;
    border: 0;
    border-bottom: 1px solid var(--wp--custom--color--border);
  }
  //Blockquote
  .wp-block-quote {
      margin-inline: 0;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 4ch 1fr;
      position: relative;
      padding: 0;
      background-color: transparent;
      border: 0;
      quotes: "\201C""\201D";
    &:before {
        content: open-quote;
        grid-column: 1;
        font-size: var(--wp--preset--font-size--xl);
        font-family: 'Times New Roman', Times, serif;
        line-height: 1;
        color: var(--wp--custom--color--text);
    }
    cite {
        grid-column: 2;
        position: relative;
        z-index: 2;
        font-family: var(--wp--preset--font-family--tertiary);
    }
    p {
        grid-column: 2;
        position: relative;
        z-index: 2;
        font-family: var(--wp--preset--font-family--tertiary);
        text-indent: 0;
      &:last-child {
          margin: 0;
      }
    }
  }
  //Code
  .wp-block-code {
      margin-block: var(--wp--custom--spacing--gap) 0;
      padding: var(--wp--custom--spacing--sm);
    code {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }
  }
}

.entry-meta {
    font-family: var(--wp--preset--font-family--tertiary);
}