
.dgwltd-nav {
    display: flex;
    z-index: $z-low;
    .dgwltd-menu {
        display: flex;
        flex-direction: column;
        gap: var(--wp--custom--spacing--sm);
        margin:0;
        padding: var(--wp--custom--spacing--sm);
      @include mq($from: lg) {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          flex: 1;
          padding: 0;
      }
      .menu-item {
          position: relative;
          margin: 0;
          padding: 0;
          line-height: 1;
          text-align: left;
          list-style-type: none;
        @include mq($until: lg) {
            font-size: var(--wp--preset--font-size--xl);
            line-height: var(--button-height);
          &.current-page-ancestor > a {
              width: calc(100% - var(--button-height)) !important;
          }
          .button-show-subnav {
              appearance: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              position: absolute;
              top: 0;
              right: 0;
              width: 2.5rem;
              height: 2.5rem;
              padding: 0;
              background-color: transparent;
              border: 0;
            &:after {
                content: "";
                display: block;
                transform: rotate(45deg);
                box-sizing: border-box;
                width: 0;
                height: 0;
                margin: 0 auto;
                border-right: 3px solid var(--wp--preset--color--light);
                border-bottom: 3px solid var(--wp--preset--color--light);
            }
            &[aria-expanded="true"] {
              &:after {
                  border-top: 3px solid var(--wp--preset--color--light);
                  border-right: transparent;
                  border-bottom: transparent;
                  border-left: 3px solid var(--wp--preset--color--light);
              }
            }
            @include mq($until: lg) {
                justify-content: center;
              &:before {
                  content: "";
                  display: block;
                  width: var(--button-height);
                  height: var(--button-height);
                  border: 1px solid var(--wp--preset--color--light);
                  border-radius: 50%;
              }
              &:after {
                  position: absolute;
                  top: 10px;
                  right: 14px;
              }
              &[aria-expanded="true"] {
                &:after {
                    top: 16px;
                }
              }
            }
            a {
            }
            span {
                display: none;
            }
            
          }
        }
        @include mq($from: lg) {
            line-height: $nav-height;
          .button-show-subnav {
              display: none;
          }
           //A11y menu active state
          .button-show-subnav:focus-visible {
              position: relative;
              top: 100%;
          }
        }
        &:first-of-type {
          @include mq($from: lg) {
            a {
                padding-inline-start: 0;
            }
          }
        }
        &:last-of-type {
            margin: 0;
        }
        a {
            display: inline-block;
            width: 100%;
            padding: 0;
            text-decoration: none;
          @include mq($until: lg) {
              color: var(--wp--preset--color--light);
          }
          @include mq($from: lg) {
              margin:0;
              padding:0 var(--wp--custom--spacing--sm);
          }
          &:hover {
              text-decoration: underline;
          }
          &:focus-visible {
              box-shadow: none;
              outline: 0;
              text-decoration-color: white !important;
              background-color: transparent;
              border: 0;
              color: white !important;
              text-decoration: underline;
            @include mq($from: lg) {
                text-decoration-color: var(--wp--preset--color--primary) !important;
                color: var(--wp--custom--color--text) !important;
            }
          }
        }
  
        // Use a different one to .current-menu-item so we can toggle it in the mobile view
        &.current_page_item, 
        &.current_page_ancestor {
          > a {
              text-decoration-thickness: max(3px, .1875rem, .12em);
              text-decoration: underline;
          }
        }
  
        &.menu-item-has-children {
          @include mq($from: lg) {
              display: flex;
              align-items: center;
            > a {
                padding-inline-end:0;
                margin-inline-end:0;
                display: flex;
                justify-content: space-between;
                align-items: center;
              &:after {
                  margin-inline-start: var(--wp--custom--spacing--sm);
                  margin-block-start: -0.4ex;
                  content: "";
                  display: block;
                  transform: rotate(45deg);
                  box-sizing: border-box;
                  width: 0;
                  height: 0;
                  border-right: 2px solid var(--wp--preset--color--dark);
                  border-bottom: 2px solid var(--wp--preset--color--dark);
              }
            }
          }
        }
  
        //With JS - see a11yMenu()
        //Hover/Click method (including class name for JS to target)
        &.menu-item-has-children.menu-open {
          .sub-menu {
              display: block;
            @include mq($from: lg) {
                display: flex;
                flex-direction: column;
                gap: var(--wp--custom--spacing--sm);
            }
          }
        }
  
        //We don't want hover events on smaller screens
        &.menu-item-has-children:focus-within,
        &.menu-item-has-children:hover {
          .sub-menu {
            @include mq($from: lg) {
                display: flex;
                transition-delay: 0s; /* react immediately on hover */;
            }
          }
        }
  
        &.menu-item-has-children.menu-open {
          @include mq($from: lg) {
            .sub-menu {
                visibility: visible;
                opacity: 1;
                transition-delay: 250ms;
            }
          }
        }
  
      }
  
      //Sub menu
      .sub-menu {
          display: none;
        @include mq($until: lg) {
            margin: var(--wp--custom--spacing--sm) 0 0;
            padding: 0;
          li {
              margin: 0 0 var(--wp--custom--spacing--sm);
              padding: 0;
            &:last-of-type {
                margin: 0;
            }
            a {
                padding: 0;
            }
          }
        }
        @include mq($from: lg) {
            box-shadow: var(--wp--preset--shadow--shadow-low);
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: $z-high;
            top: 100%;
            left: auto;
            right: 0;
            visibility: hidden;
            opacity: 0;
            width: auto;
            min-width: 24rem;
            margin:0;
            padding: var(--wp--custom--spacing--sm) 0;
            transition: visibility .25s cubic-bezier(.24,.26,.2,1),opacity .25s cubic-bezier(.24,.26,.2,1);
            background-color: var(--wp--preset--color--alt);
          .menu-item {
              line-height: 1;
              a {
                  display: block;
                  padding: 0 var(--wp--custom--spacing--sm);
                  color: var(--wp--preset--color--dark);
              }
          }
        }
      }
  
    }
  
  }
  
  //Navigation Toggle
  .nav-toggle {
      box-shadow: none;
      display: none;
      width: toRem(44);
      height: toRem(44);
      margin: 0 0 0 auto;
      padding: 0;
      background-color: transparent;
      border:0;
    &:focus-visible {
        box-shadow: none;
        outline: var(--wp--custom--color--text) solid var(--outline-size);
        background-color: transparent;
    }
    svg {
        fill: var(--wp--custom--color--text);
        height: toRem(44);
      &.close {
          fill: var(--wp--preset--color--light);
      }
    }
  }
  
  
  //Attempt at fixing Cumulative Layout Shift issue with menu before JS kicks in
  .no-js {
    .dgwltd-masthead {
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        overflow: visible;
      @media (hover: none) {
          scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
      }
    
      .dgwltd-nav {
          min-block-size: fit-content;
          display: flex;
          flex-shrink: 0;
        .dgwltd-menu {
          .menu-item > a {
              color: var(--wp--custom--color--text);
          }
          .button-show-subnav {
            &:before, &:after {
                border-color: var(--wp--custom--color--text);
            }
          }
        }
      }
    }
  
    
  }
  
  //JS progressive enhancement
  .js-enabled {
    &.masthead-expanded {
      .dgwltd-wrapper {
          position: relative;
        &:before {
            visibility: visible;
            opacity: 1;
        }
      }
      .sub-menu {
          z-index: $z-highest;
      }
    }
  
    //Mobile menu is open
    &.nav-open {
      .dgwltd-wrapper {
          position: relative;
        &:before {
            visibility: visible;
            opacity: 1;
        }
      }
      .logo {
        &__line {
            fill: var(--wp--preset--color--light);
        }
      }
    }
  
  
    .dgwltd-nav__wrapper {
        display: none;
      @include mq($from: lg) {
          display: flex;
          width: 100%;
      }
    }
  
    .dgwltd-masthead {
      &[data-enabled="true"] {
        .dgwltd-nav {
            align-items: center;
        }
  
        .nav-toggle {
            display: block;
          .open {display: block;}
          .close {display: none;}
        }    
  
        .dgwltd-nav__wrapper {
            content-visibility: hidden;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }
        
      }
  
      //Switch the menu icons
      &.masthead-is-open {
          position: relative;
          z-index: $z-highest;
          background-color: var(--wp--custom--color--dark);
        .dgwltd-nav__wrapper {
            content-visibility: visible;
            display: block;
          .dgwltd-menu {
              display: flex;
          }
        }
        .dgwltd-masthead__logo > a {
          &:focus-visible {
            .logo {
                fill: var(--wp--preset--color--focus);
            }
          }
        }
        .nav-toggle {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: $z-highest;
          .open {display: none;}
          .close {display: block;}
          &:focus-visible {
              box-shadow: none;
              outline: var(--wp--preset--color--light) solid var(--outline-size);
              outline-offset: var(--outline-offset, var(--outline-size));
              background-color: transparent;
          }
        }
      }
  
    }
  
  }