// -----------------------
// Utilities / tokens
// -----------------------
%nav-item {
  list-style: none;
  @extend %dgwltd-navigation;
  line-height: 1;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
}

@mixin nav-link() {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  width: 100%;

  &:hover { text-decoration: underline; }

  &:focus-visible {
    border: 0;
    background: transparent;
    box-shadow: none;
    text-decoration: underline;
    outline: 0;
  }
}

:root {
  --button-height: 2.5rem;
}

// -----------------------
// Nav
// -----------------------
.dgwltd-nav {
  z-index: $z-low;
  display: flex;

  .dgwltd-menu {
    margin: 0;
    padding: var(--wp--custom--spacing--sm);
    display: flex;
    flex-direction: column;
    gap: var(--wp--custom--spacing--sm);

    @include mq($from: lg) {
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      gap: var(--wp--custom--spacing--md);
    }

    .menu-item {
      @extend %nav-item;

      a {
        @include mq($from: lg) {
          &:focus-visible {
            color: var(--wp--custom--color--text) !important;
            text-decoration-color: var(--wp--preset--color--primary) !important;
          }
        }
      }

      @include mq($until: lg) {
        font-size: var(--wp--preset--font-size--xl);
        line-height: var(--button-height);

        &.current-menu-item > a,
        &.current-page-ancestor > a {
          width: calc(100% - var(--button-height)) !important;
        }
      }

      @include mq($from: lg) {
        line-height: $nav-height;

        &.menu-item-has-children {
          display: flex;
          align-items: center;

          > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline-end: 0;
            margin-inline-end: 0;

            &:after {
              @include chevron(1ex, 3px, var(--wp--preset--color--dark), down);
              margin-inline-start: var(--wp--custom--spacing--sm);
              margin-block-start: -0.4ex;
            }
          }
        }
      }

      a {
        @include nav-link();
      }

      // Current page styles
      &.current_page_item > a,
      &.current_page_ancestor > a {
        text-decoration: underline;
        text-decoration-thickness: max(3px, .1875rem, .12em);
      }

      // Toggle (mobile)
      .button-show-subnav {
        position: absolute;
        inset-inline-end: 0;
        inset-block-start: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        appearance: none;
        border: 0;
        background: transparent;
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;

        &:after {
          @include chevron(1ex, 3px, var(--wp--preset--color--light), down);
          margin: 0 auto;
        }

        &[aria-expanded="true"]::after {
          @include chevron(1ex, 3px, var(--wp--preset--color--light), up);
        }

        @include mq($until: lg) {
          justify-content: center;

          &:before {
            content: "";
            display: block;
            border-radius: 50%;
            border: 1px solid var(--wp--preset--color--light);
            width: var(--button-height);
            height: var(--button-height);
          }

          &:after { position: absolute; inset-block-start: 10px; inset-inline-end: 14px; }
          &[aria-expanded="true"]::after { inset-block-start: 16px; }
        }

        span { display: none; }

        @include mq($from: lg) {
          display: none;
        }
      }
    } // .menu-item

    // Submenu (base)
    .sub-menu {
      display: none;

      @include mq($until: lg) {
        margin: var(--wp--custom--spacing--sm) 0 0;
        padding: 0;

        li {
          margin: 0 0 var(--wp--custom--spacing--sm);
          padding: 0;

          &:last-of-type { margin: 0; }
          a { padding: 0; }
        }
      }

      @include mq($from: lg) {
        display: flex;
        flex-direction: column;
        gap: var(--wp--custom--spacing--sm);
        opacity: 0;
        visibility: hidden;
        transition: visibility .25s cubic-bezier(.24,.26,.2,1), opacity .25s cubic-bezier(.24,.26,.2,1);
        box-shadow: var(--wp--preset--shadow--low);
        z-index: $z-high;
        position: absolute;
        inset-inline-end: 0;
        inset-inline-start: auto;
        inset-block-start: 100%;
        margin: 0;
        padding: var(--wp--custom--spacing--sm) 0;
        min-width: 24rem;
        width: auto;
        background: var(--wp--preset--color--alt);

        .menu-item {
          line-height: 1;

          a {
            @include nav-link();
            display: block;
            color: var(--wp--preset--color--dark);
            padding: 0 var(--wp--custom--spacing--sm);
          }
        }
      }
    }

    .menu-item-has-children.menu-open > .sub-menu {
      display: flex;
      flex-direction: column;
    } 

    //Sub menu open states
    @include mq($from: lg) {
      .menu-item-has-children:focus-within > .sub-menu,
      .menu-item-has-children:hover        > .sub-menu {
        opacity: 1;
        visibility: visible;
        transition-delay: 0ms; 
      }
    }
  } // .dgwltd-menu
}

// -----------------------
// Toggles / JS states
// -----------------------
.nav-toggle {
  display: none;
  margin: 0 0 0 auto;
  padding: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  width: toRem(44);
  height: toRem(44);

  &:focus-visible {
    background: transparent;
    box-shadow: none;
    outline: var(--wp--custom--color--text) solid var(--outline-size);
  }

  svg {
    fill: var(--wp--custom--color--text);
    height: toRem(44);

    &.close { fill: var(--wp--preset--color--light); }
  }
}

// Shared overlay for both expanded states (we don't do much with the desktop state, but we might)
.js-enabled.masthead-expanded .dgwltd-wrapper::before,
.js-enabled.nav-open         .dgwltd-wrapper::before {
  visibility: visible;
  opacity: 1;
}

.js-enabled {
  
  .dgwltd-nav__wrapper {
    display: none;

    @include mq($from: lg) {
      display: flex;
      width: 100%;
    }
  }

  .dgwltd-masthead {

    &[data-enabled="true"] {

      .dgwltd-nav { 
        align-items: center; 
        .dgwltd-menu {
          .menu-item > a {
            color: var(--wp--preset--color--light);

            &:focus-visible {
              color: var(--wp--preset--color--light);
              text-decoration-color: var(--wp--preset--color--light);
            }
          }
        }
      }

      .nav-toggle {
        display: block;
        .open { display: block; }
        .close { display: none; }
      }

      .dgwltd-nav__wrapper {
        display: none;
        content-visibility: hidden;
        position: absolute;
        inset-inline: 0;
        inset-block-start: 100%;
        width: 100%;
      }

    }

    &[data-enabled="false"] {
      .nav-toggle {
        display: none !important;
      }
    }

    &.masthead-is-open {
      z-index: $z-highest;
      position: relative;
      background: var(--wp--custom--color--dark);

      .dgwltd-nav__wrapper {
        content-visibility: visible;
        display: block;

        .dgwltd-menu { display: flex; }

      }

      .dgwltd-masthead__logo > a:focus-visible .logo {
        fill: var(--wp--preset--color--focus);
      }

      .nav-toggle {
        position: relative;
        z-index: $z-highest;
        display: flex;
        justify-content: flex-end;

        .open  { display: none; }
        .close { display: block; }

        &:focus-visible {
          background: transparent;
          box-shadow: none;
          outline: var(--wp--preset--color--light) solid var(--outline-size);
          outline-offset: var(--outline-offset, var(--outline-size));
        }
      }
    }
  }
}