.dgwltd-pagination {
  margin: var(--wp--custom--spacing--lg) 0;
  
  .dgwltd-pagination__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item {
    border-top: 1px solid var(--wp--custom--color--border);
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: var(--wp--custom--spacing--sm) 0;
    
    > * {
      color: currentColor;
    }

    &:hover {
      > * {
        color: var(--wp--preset--color--primary);
      }
      .dgwltd-pagination__link-icon {
        fill: var(--wp--preset--color--primary);
      }
    }

    &:active,
    &:focus-visible {
      outline: none;
      background-color: var(--wp--preset--color--focus);
      .dgwltd-pagination__item {
        border-top: 1px solid var(--wp--custom--color--text);
      }
      .dgwltd-pagination__link-title, 
      .dgwltd-pagination__link-label {
        color: var(--wp--custom--color--text);
      }
      .dgwltd-pagination__link-icon {
        fill: var(--wp--custom--color--text);
      }
    }
  }

  &__link-icon {
    fill: currentColor;
  }

  &__link-label {
    @extend %dgwltd-body-sm;
    text-decoration: underline;
    margin: var(--wp--custom--spacing--xs) 0 0 23px;
    display: inline-block;
  }

  &__link-title {
    display: block;
    font-weight: bold;
    a {
      margin-inline-start: var(--wp--custom--spacing--xs);
    }
  }
  
  &.dgwltd-pagination--pages {
    .dgwltd-pagination__list {
      @include mq($from: md) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
  &.dgwltd-pagination--noprev {
    .dgwltd-pagination__list {
      @include mq($from: md) {
        justify-content: flex-end;
      }
    }
  }
}
