//404
.error404 {
  .dgwltd-menu-404 {
      margin-inline-start: var(--wp--custom--spacing--md);
    ul {
        margin-inline-start: var(--wp--custom--spacing--md);
    }
  }
}

//Search
.search-results,
.search-no-results {
  .site-search__form {
      display: flex;
    .govuk-input {
        height: 45px;
    }
    .govuk-button {
        padding-block:0;
        display: flex;
        align-items: center;
        height: 45px;
        line-height: 45px;
    }
    .icon-search {
        fill: white;
        display: inline-block;
        width: 20px;
    }
  }
}

.no-results {
  ul {
      margin-inline-start: var(--wp--custom--spacing--md);
  }
}
