//Share container
.entry-share {
    padding: var(--wp--custom--spacing--sm) ;
}

//Share buttons
.dgwltd-share-actions li {
    position: relative;
    button {
    }
  }
  
  .dgwltd-share-actions [role='alert'] {
      inset: 0;
      align-content: center;
      position: absolute;
      background: var(--wp--preset--color--primary);
      line-height: 1;
      color: var(--wp--preset--color--light);
      text-align: center;
  }
  
  .dgwltd-share-actions [role='alert']:empty {
      display: none;
  }