//Inspired by https://clagnut.com/blog/2437
.dgwltd-theme-switcher {
    display: none;
    gap: 0.5em;
    padding: 0;
    border: 0;
    label {
        translate: 0 calc(0.5ex - 0.5cap);
        position: relative;
    }
    input[name="color-theme"] {
        position: absolute;
        top:0.2em;
        left:-0.05em;
        opacity: 0;
        width:1em;
        height:1em;
        margin: 0;
        &:hover {
            cursor: pointer;
        }
    }
    svg {
        opacity: 0.4;
    }
    label:hover svg,
    input[name="color-theme"]:focus + svg  {
        opacity: 1;
    }
    input[name="color-theme"]:checked + svg {
        opacity: 0.8;
        cursor: auto;
    }
}