.dgwltd-button, 
%dgwltd-button,
.wp-block-button__link {

  --button-text: var(--wp--custom--color--background);
  --button-border: var(--wp--custom--color--text);
  --button-bg: var(--wp--custom--color--text);
  --button-border-width: 0.15em;

  --button-x-padding: var(--wp--custom--spacing--xs);
  --button-y-padding: var(--wp--custom--spacing--sm);
  --button-gutter: 0.5ch;

  appearance: none;
  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  min-width: fit-content;
  justify-content: center;
  line-height: var(--wp--custom--typography--line-height--flat);
  margin: 0;
  padding: var(--button-x-padding) var(--button-y-padding);
  text-decoration: none;
  //Trim the space at the cap height for alphabetic characters
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: var(--button-border-width) solid var(--button-border);
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    --button-text: var(--wp--preset--color--dark);
    --button-border: var(--wp--preset--color--secondary);
    --button-bg: var(--wp--preset--color--secondary);
  }
  &:active {
    transform: scale(99%);
  }
  &:link,
  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
  }
  &:focus-visible {
    --button-text: var(--wp--preset--color--dark);
    --button-bg: var(--wp--preset--color--focus);
    --button-border: var(--wp--preset--color--dark);
    --box-shadow: none;
    --outline: none;
  }
  &[disabled] {
    --button-text: var(--wp--custom--color--dark);
    --button-bg: var(--wp--custom--color--disabled);
    --button-border: var(--wp--custom--color--disabled);
    cursor: not-allowed;
  }
}

.dgwltd-button > a {
  --button-text: var(--wp--preset--color--light);
  text-decoration: none;
  &:hover {
    color: white;
  }
}

%dgwltd-button--small, 
.dgwltd-button--small {
  --button-x-padding: var(--wp--custom--spacing--2-xs);
  --button-y-padding: var(--wp--custom--spacing--xs);
}

%dgwltd-button--ghost, 
.dgwltd-button--ghost {
  --button-border: var(--wp--preset--color--primary);
  --button-text: var(--wp--preset--color--primary);
  --button-bg: transparent;
  &:hover {
    --button-text: var(--wp--preset--color--light);
    --button-bg: var(--wp--preset--color--primary);
    --button-border: var(--wp--preset--color--primary);
  }
}
