//Details block
.dgwltd-details {
    .govuk-details__summary:before {
      border-left-color: var(--wp--preset--color--secondary);
    }
    .govuk-details__summary-text {
      color: var(--wp--preset--color--secondary);
    }
    .govuk-details__text {
      color: var(--wp--preset--color--dark);
      border-color: var(--wp--preset--color--secondary);
    }
  }
  
  