//Details block
.dgwltd-details {
    .govuk-details__summary:before {
      border-left-color: var(--wp--preset--color--border);
    }
    .govuk-details__summary-text {
      color: var(--wp--preset--color--border);
    }
    .govuk-details__text {
      padding-top: var(--wp--custom--spacing--medium);
      color: var(--wp--preset--color--dark);
      border-color: var(--wp--preset--color--border);
    }
}
