
//Hero block
.dgwltd-hero {

    // @media not (prefers-reduced-motion: reduce) {
    //   view-transition-name: hero;
    // }

    &__content {
      ul {
        margin: 0 0 var(--wp--custom--spacing--medium);
        padding: 0;
      }
      &:not(:has(.wp-block-button__link)) {
        p:last-of-type {
          margin: 0;
        }
      }
      .wp-block-button__link {
        margin: 0;
      }
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-light);
    grid-column: 2 / span 1;
    min-height: 25rem;

    h1, h2 {
      @extend %dgwltd-heading-xl;
      margin: 0 0 var(--wp--custom--spacing--medium);
    }

    h1, h2, h3 {
      &.has-background {
        padding: 0;
      }
    }

    h1, h2, p, .govuk-body {
      color:inherit;
    }

    p, li, .govuk-body {
      max-width: var(--characterMax);
    }

    &__wrapper {
      z-index:2;
      //Width
      @extend %container;
      //Extra padding
      padding: var(--wp--custom--spacing--large) var(--wp--custom--spacing--medium);
    }

    //Varients
    &.alignfull {
      grid-column: 1 / span 3 !important;
    }
    
    &.has-height {
      min-height:60vh;
    }

    &.has-image {
      background-size: cover;
      background-position: 0 50%;
    }

    &.has-video {
      .dgwltd-button {
        display: inline-flex;
        justify-content: space-between;
        background-color: transparent;
        border-color: var(--wp--preset--color--dark);
        svg {
          width: 1em;
          height: 1em;
          margin-left: 1ch;
          fill: inherit;
        }
      }
    }

    //Block style varients - styles in block.json
    &.is-style-monochrome {
      .block__background img {
        filter: grayscale(100%) contrast(200%);
      }
    }

    &.has-light-color {
      .dgwltd-hero__play .dgwltd-button {
        color: var(--wp--preset--color--light);
        border-color: var(--wp--preset--color--light);
        svg {
          fill: var(--wp--preset--color--light);
        }
        &:hover {
          background-color: rgba(255, 255, 255, .1);
        }
      }
    }

    &:not(.alignfull) {
      padding: 0;
      margin-left: var(--wp--custom--spacing--medium);
      margin-right: var(--wp--custom--spacing--medium);
    }
     
  }

//Modal
.is-blacked-out:before {
  position: fixed;
  content: "";
  z-index: $z-important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  display: block;
} 

.popup-trigger {
  display: inline-block;
  margin: 0;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;  
  margin-block-start: 0 !important;
  padding: 0  !important;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: calc($z-important + 1);
  
  &.is--visible {
    opacity: 1;
    pointer-events: auto;
    
  }

  &__dialog {
    background-color: #000;
    max-width: clamp(18.75rem,53.125rem,95vw);
    height: clamp(18.75rem,35rem,95vh);
    padding: var(--wp--custom--spacing--medium);
    margin: var(--wp--custom--spacing--large) auto;
    position:relative;
  }

  &__heading {
    @extend %dgwltd-heading-s;
    margin-bottom: var(--wp--custom--spacing--medium);
    color: var(--wp--preset--color--light);
    min-height: toRem(44);
    padding: 0;
    outline: 0;
    display: flex;
    align-items: center;
  }

  &__close {
    appearance: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    cursor: pointer;
    svg {
      width:toRem(44);
      height:toRem(44);
      fill:var(--wp--preset--color--light);
    }
    &:focus-visible {
      background-color: transparent;
      box-shadow: none;
      outline: var(--wp--preset--color--light) solid 2px;
    }
  }

  iframe {
    width: 100%;
    max-width: 100%;
    height: calc(100% - 90px); //Height of the popup header
  }

}
