//WP entry-content e.g. posts
@use "sass:math";

.entry-content {
   p:empty {
    display:none;
  }
  //Headings
  :is(h1, h2, h3) {
      @include mq($from: lg) {
        overflow-wrap: anywhere;
        hyphens: auto;
      }
  }
  
  //Images
  .wp-block-image {
    width: 100%;
    height: auto;
    figure {
      width: 100%;
      margin: 0;
      inline-size: fit-content;
      margin-inline: auto;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    figcaption {
      font-size: var(--wp--preset--font-size--sm);
      text-align: left;
      margin: 0;
      padding-block: var(--wp--custom--spacing--xs);
      color: var(--wp--custom--color--text);
      contain: inline-size;
    }
    video {
      aspect-ratio: var(--aspect-ratio, var(--vertical-aspect-ratio, math.div(9, 16)));
    }
    @media (min-aspect-ratio: 1 / 1) {
      video {
        --aspect-ratio: var(--horizontal-aspect-ratio, 16 / 9);
      }
    }
    &.alignleft, 
    &.alignright, 
    &.aligncenter {
        display: flex;
        float: none;
      > figcaption {
        display: block;
      }
    }
    &.alignleft {
        justify-content: flex-start;
    }
    &.alignright {
      justify-content: flex-end;
    }
    &.aligncenter {
      justify-content: center;
    }
  }
  // Embed
  .wp-block-embed {
    margin: var(--wp--custom--spacing--md) 0;
    width: 100%;
    .wp-block-embed__wrapper {
      max-width: 100%;
    }
  }
  video,
  object,
  iframe {
    margin: 0;
    max-width: calc(100% - 40px);
  }
  //Seperator
  .wp-block-separator {
    --flow-space: var(--wp--custom--spacing--lg);
    height: 1px;
    border: none;
    border-bottom: 1px solid var(--wp--custom--color--border);
    width:  100% !important;
    & + * {
      --flow-space: var(--wp--custom--spacing--lg);
    }
  }
  //Blockquote
  .wp-block-quote {
    position: relative;
    margin-inline: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    quotes: "\201C""\201D";
    display: grid;
    grid-template-columns: 5ch 1fr;
    grid-template-rows: auto;
    --flow-space: var(--wp--custom--spacing--lg);
    & + * {
      --flow-space: var(--wp--custom--spacing--lg);
    }
    &:before {
      font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
      color: var(--wp--custom--color--text);
      content: open-quote;
      font-size: 4em;
      line-height: 1;
      grid-column: 1;
    }
    cite {
      grid-column: 2;
      position: relative;
      z-index: 2;
      font-family: var(--wp--preset--font-family--tertiary);
      @extend %dgwltd-body-sm;
    }
    p {
      grid-column: 2;
      z-index: 2;
      position: relative;
      text-indent: 0;
      font-family: var(--wp--preset--font-family--tertiary);
      font-size: var(--wp--preset--font-size--lg);
      font-style: normal;
      font-weight: bold;
      line-height: var(--wp--custom--typography--line-height--fine);
      &:last-child {
        margin: 0;
      }
    }
  }
  //Code
  .wp-block-code {
    margin-block: var(--wp--custom--spacing--gap) 0;
    padding: var(--wp--custom--spacing--sm);
    code {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      word-break: break-word;
      hyphens: auto;
    }
  }
}

.entry-meta {
  @extend %dgwltd-body-sm;
  font-family: var(--wp--preset--font-family--tertiary);
}