@use '../utilities/helpers' as h;

//Skip link
.govuk-skip-link:link, 
.govuk-skip-link:focus-visible {
  color: black !important;
  text-decoration: underline;
}

#skiplink-container {
  grid-column: 1 / -1;
}

//Masthead
.dgwltd-masthead {
  margin: 0;
  padding: 0;
  z-index: 9999;
  background-color: var(--wp--custom--color--background);
}

//Overlay
.dgwltd-wrapper {
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    z-index: h.$z-highest-1; 
    width: 100%;
    height: 100%;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s cubic-bezier(.24,.26,.2,1),opacity .25s cubic-bezier(.24,.26,.2,1);

    @include h.mq($until: lg) {
      background-color: rgb(0,0,0,.9);
    }

  }
}

.dgwltd-masthead-container {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //Align full
  max-width: 100%;
  grid-column: 1 / -1 !important;
  padding: var(--wp--custom--spacing--md);

  //Logo
  .dgwltd-masthead__logo {
    line-height: 1;
    @include h.mq($until: lg) {
      flex: 1;
    }
    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:visited {
        color: inherit;
      }
      &:focus-visible {
        outline: none;
        box-shadow: none;
        background-color: transparent;
        svg {
          fill: var(--wp--preset--color--primary); 
          > * {
            fill: inherit;
          }
        }
      }
    }

    svg {
      width: h.$nav-height;
      height: auto;
      margin:0 var(--wp--custom--spacing--sm) 0 0;
      &:hover {
          fill: var(--wp--preset--color--primary); 
      }
    }

    //Custom styling
    .logo {
      &__angle-bracket {
        fill: var(--wp--preset--color--primary); 
      }
      &__line {
        fill: var(--wp--custom--color--text);
      }
    }
    
  }

}