//Share container
.entry-share {
    padding: var(--wp--custom--spacing--sm);
}

.dgwltd-share-actions {
  padding: 0;
  li {
    position: relative;
    button {
      @extend %dgwltd-button;
    }
  }
  [role='alert'] {
    position: absolute;
    inset: 0;
    align-content: center;
    text-align: center;
    background: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--light);
    line-height: 1;
  }
  [role='alert']:empty {
    display: none;
  }
}