---
permalink: '../src/assets/scss/modules/_utilities-wp.scss'
---

{%- set spacingSizes = theme.settings.custom.spacing -%}
{%- set includeKeys = ['xs', 'sm', 'md', 'lg'] -%}

{%- for key, value in spacingSizes -%}
    {%- if key in includeKeys -%}
        {%- if value is mapping -%}
            {# check whether the value is a nested #}
            {%- for subkey, subvalue in value %}
/* Padding utilities - {{ key }} */
.pt-{{ key }}-{{ subkey }} { padding-block-start: {{ subvalue }}; }
.pb-{{ key }}-{{ subkey }} { padding-block-end: {{ subvalue }}; }
.pl-{{ key }}-{{ subkey }} { padding-inline-start: {{ subvalue }}; }
.pr-{{ key }}-{{ subkey }} { padding-inline-end: {{ subvalue }}; }
.px-{{ key }}-{{ subkey }} { padding-inline: {{ subvalue }}; }
.py-{{ key }}-{{ subkey }} { padding-block: {{ subvalue }}; }
.p-{{ key }}-{{ subkey }} { padding: {{ subvalue }}; }

/* Margin utilities - {{ key }} */
.mt-{{ key }}-{{ subkey }} { margin-block-start: {{ subvalue }}; }
.mb-{{ key }}-{{ subkey }} { margin-block-end: {{ subvalue }}; }
.ml-{{ key }}-{{ subkey }} { margin-inline-start: {{ subvalue }}; }
.mr-{{ key }}-{{ subkey }} { margin-inline-end: {{ subvalue }}; }
.mx-{{ key }}-{{ subkey }} { margin-inline: {{ subvalue }}; }
.my-{{ key }}-{{ subkey }} { margin-block: {{ subvalue }}; }
.m-{{ key }}-{{ subkey }} { margin: {{ subvalue }}; }

        {%- endfor %}
    {%- else %}
/* Padding utilities - {{ key }} */
.pt-{{ key }} { padding-block-start: {{ value }}; }
.pb-{{ key }} { padding-block-end: {{ value }}; }
.pl-{{ key }} { padding-inline-start: {{ value }}; }
.pr-{{ key }} { padding-inline-end: {{ value }}; }
.px-{{ key }} { padding-inline: {{ value }}; }
.py-{{ key }} { padding-block: {{ value }}; }
.p-{{ key }} { padding: {{ value }}; }

/* Margin utilities - {{ key }} */
.mt-{{ key }} { margin-block-start: {{ value }}; }
.mb-{{ key }} { margin-block-end: {{ value }}; }
.ml-{{ key }} { margin-inline-start: {{ value }}; }
.mr-{{ key }} { margin-inline-end: {{ value }}; }
.mx-{{ key }} { margin-inline: {{ value }}; }
.my-{{ key }} { margin-block: {{ value }}; }
.m-{{ key }} { margin: {{ value }}; }
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

/* Auto margins */
.mx-auto { margin-inline: auto; }
.my-auto { margin-block: auto; }
.m-auto { margin: auto; }
.ml-auto { margin-inline-start: auto; }
.mr-auto { margin-inline-end: auto; }
.mt-auto { margin-block-start: auto; }
.mb-auto { margin-block-end: auto; }

/* Zero spacing */
.p-0 { padding: 0; }
.m-0 { margin: 0; }
.pt-0 { padding-block-start: 0; }
.pb-0 { padding-block-end: 0; }
.pl-0 { padding-inline-start: 0; }
.pr-0 { padding-inline-end: 0; }
.mt-0 { margin-block-start: 0; }
.mb-0 { margin-block-end: 0; }
.ml-0 { margin-inline-start: 0; }
.mr-0 { margin-inline-end: 0; }