////
/// SASS Variables
////

//Z-indexes
$z-lowest: 1;
$z-low-1: 2;
$z-low: 3; //Move above hero
$z-high: 10;
$z-higher: 11;
$z-highest-1: 998;
$z-highest: 999;
$z-important: 2147483647;

//Spacing
$scale: ( 'xs', 'sm', 'md', 'lg', 'xl');

//Gaps
$gap: 1.5rem;
$gap-xs: 0.625rem;
$gap-sm: 1rem;
$gap-lg: 2rem;

//Fluid container for grid layout
$fluid-container: minmax(var(--wp--custom--spacing--md), 1fr) minmax(min-content, var(--wp--custom--width--container)) minmax(var(--wp--custom--spacing--md), 1fr);

//Redeclare from vendor/_mq.scss -- https://github.com/sass-mq/sass-mq
$mq-breakpoints: (
  sm: 320px,
  md: 768px,
  lg: 1024px, 
  xl: 1440px, 
  xxl: 1920px
);

$colors: (
    primary: #FA008A,
    secondary: #00E5E5,
    accent-peach: #FFC3B9,
    accent-primary: #D60076, 
    accent-purple: #9A00FA,
    accent-magenta: #C3006A
);

//CSS Variables
:root {

  color-scheme: light;

  &[data-color-scheme="light"] {
    color-scheme: light;
  }
  &[data-color-scheme="dark"] {
    color-scheme: dark;
  }

  /* Opt-in the whole page to interpolate sizes to/from keywords - allows transitions from `height: 0` to `height: auto` */
  interpolate-size: allow-keywords; /* 👈 */

  --baseline: calc(var(--wp--preset--font-size--body) * var(--wp--custom--typography--line-height--body));
  --baseline-multiplier: 1;

  //System font as default
  --body: system-ui, sans-serif;

  //Menu height
  --submenu-offset: 0;

  --highlight: var(--wp--preset--color--primary, oklch(63.96% 0.2601 358.46));

  //Typography
  --opentype-case: "case" off;
  --opentype-sinf: "sinf" off;

}