.dgwltd-button, 
%dgwltd-button,
.wp-block-button__link {
  appearance: none;
  text-decoration: none;
  display: inline-block;
  min-width: fit-content;
  font-size: var(--wp--preset--font-size--body);
  line-height: 1;
  padding: var(--wp--custom--spacing--xs) var(--wp--custom--spacing--sm);
  margin: 0;
  color: var(--wp--custom--color--background);
  background-color: var(--wp--custom--color--text);
  border: 2px solid var(--wp--custom--color--text);
  border-radius: 0;
  box-shadow: none;
  &:hover {
    cursor: pointer;
    color: var(--wp--preset--color--dark);
    border-color: var(--wp--preset--color--secondary);
    background-color: var(--wp--preset--color--secondary);
  }
  &:active {
    transform: scale(99%);
  }
  &:link,
  &:visited,
  &:focus,
  &:active {
    text-decoration: none;
  }
  &:focus {
    color: var(--wp--preset--color--dark);
    border-color: var(--wp--preset--color--dark);
    background-color: var(--wp--preset--color--focus);
    --box-shadow: none;
    --outline: none;
  }
  &[disabled] {
    background-color: var(--wp--custom--color--disabled);
    color: black;
    border-color: var(--wp--custom--color--disabled);
    cursor: not-allowed;
  }
}

//Remove default outline
.govuk-button {
  box-shadow: none;
}

.dgwltd-button > a {
  color: var(--wp--preset--color--light);
  text-decoration: none;
  &:hover {
    color: white;
  }
}

%dgwltd-button--small, 
.dgwltd-button--small {
  padding: var(--wp--custom--spacing--xs) var(--wp--custom--spacing--sm);
}

%dgwltd-button--ghost, 
.dgwltd-button--ghost {
  border-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
  background-color: transparent;
  &:hover {
    border-color: var(--wp--preset--color--primary);
    background-color: var(--wp--preset--color--primary);
    color: white;
  }
}
