//Fallback for forms
label {
    line-height: var(--wp--custom--typography--line-height--input);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea {
    appearance: none;
    width: 100%;
    height: var(--wp--custom--height--input);
    margin: 0;
    padding: var(--wp--custom--spacing--xs);
    background-color: transparent;
    border: 2px solid var(--wp--custom--color--text, currentColor);
    border-radius: 0;
    font-size: var(--wp--preset--font-size--sm);
    line-height: var(--wp--custom--typography--line-height--input);
  &:focus-visible {
      outline: 0.2em solid var(--wp--preset--color--focus);
      outline-offset: 0;
      box-shadow: inset 0 0 0 2px;
      background-color: transparent;
  }
  &.dgwltd-input--wp--custom--color--error {
      outline: 0;
      border: 0.2em solid var(--wp--custom--color--error);
  }
}

// Selects
select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    appearance: menulist;
    width: 100%;
    height: var(--wp--custom--height--input);
    margin: 0;
    padding: 0 0.2em;
    background-color: transparent;
    border: 2px solid var(--wp--custom--color--text, currentColor);
    border-radius: 0;
    font: inherit; //Inherit font family, size, and line height;
    line-height: var(--wp--custom--typography--line-height--small);
    letter-spacing: inherit;
    word-spacing: inherit;
  &:focus-visible {
      outline: 0.15em solid var(--wp--preset--color--focus);
      box-shadow: 0 0 0.2em var(--wp--preset--color--focus);
  }
  &.govuk-select--width-sm {
      width: 4ch;
  }
}

textarea {
    height: auto;
    min-height: 40px;
    line-height: var(--wp--custom--typography--line-height--body);
}

input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
  &:hover {
      background-color: var(--wp--preset--color--secondary);
  }
}

//Gravity forms
.gform_wrapper {
  .gform_fields {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
    .gfield {
        padding: 0;
    }

    fieldset {
        width: 100%;
        padding: 0;
        border: 0;
    }

    //Spacing
    > * + * {
        margin-block-start: var(--wp--custom--spacing--gap);
    }
  }

  .gform_footer {
      margin-block-start: var(--wp--custom--spacing--gap);
  }

  //Labels
  .gfield_label {
      margin-block-end: var(--wp--custom--spacing--3-xs);
      display: inline-block;
  }

  //Input description - placed above input
  .gfield_description {
      margin-block-end: var(--wp--custom--spacing--sm);
  }

  //Choices
  .gchoice {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 0.2ch;
      position: relative;
  }

  //Radio choices order
  .gfield--type-radio:has(.gfield_description) {
      display: flex;
      flex-direction: column;
    .gfield_label {
        order: 1;
    }
    .gfield_description {
        margin-block-end: var(--wp--custom--spacing--2-xs);
        order: 2;
    }
    .ginput_container {
        order: 3;
    }
  }

  //Checkboxes & Radios
  .gfield_checkbox,
  .gfield_radio {
      display: flex;
      flex-direction: column;
    li {
        position: relative;
        margin: 0 0 var(--wp--custom--spacing--sm);
        padding: 0 0 0 var(--wp--custom--spacing--lg);
        line-height: 1;
    }
    label {
        display: inline-block;
        padding: 0;
      &:hover {
          cursor: pointer;
      }
      &:before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 24px;
          height: 24px;
          background-color: white;
          border: 2px solid currentColor;
      }
    }
  }

  //Checkboxes
  .gfield_checkbox {
    input[type="checkbox"] {
        z-index: 1;
        opacity: 0;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin: 0 0 0 -10px;
        cursor: pointer;
    }
    label:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 6px;
        opacity: 0;
        transform: rotate(-45deg);
        width: 12px;
        height: 6.5px;
        background: transparent;
        border: solid;
        border-width: 0 0 3px 3px;
        border-top-color: transparent;
    }
    input[type="checkbox"]:focus-visible + label::before {
        box-shadow: 0 0 0 3px var(--wp--preset--color--focus);
        border-width: 4px;
    }
    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
  }

  //Radios
  .gfield_radio {
    input[type="radio"] {
        opacity: 0;
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin: 0 0 0 -10px;
        cursor: pointer;
    }
    label:before {
        border-radius: 50%;
    }
    label:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 7px;
        opacity: 0;
        width: 0;
        height: 0;
        background: currentColor;
        border: 5px solid currentColor;
        border-radius: 50%;
    }
    input[type="radio"]:focus + label::before {
        box-shadow: 0 0 0 3px var(--wp--preset--color--focus);
        border-width: 4px;
    }
    input[type="radio"]:checked + label:after {
        opacity: 1;
    }
  }

  //Buttons
  .gform_button {
      background-color: var(--wp--preset--color--primary);
      line-height: 1 !important; //Overrule theme;
    &:hover {
        background-color: var(--wp--preset--color--secondary);
    }
    &:focus-visible {
        background-color: var(--button-focus);
    }
  }

}

//Error handling
.gform_wrapper.gform_validation_error {
  .gfield_error {
      margin-inline-start: 0;
      padding-inline-start: var(--wp--custom--spacing--sm);
      display: flex;
      flex-direction: column;
      border-left: 3px solid var(--wp--custom--color--error);
    .gfield_label {
        order: 1;
    }

    .gfield_description {
        margin-block-end: var(--wp--custom--spacing--sm);
        order: 2;
    }

    .ginput_container {
        order: 3;
    }

    input, textarea {
        border-color: var(--wp--custom--color--error);
      &:focus-visible {
          outline: 0.1em solid var(--wp--custom--color--error);
      }
    }

  }


  //Field error message
  .gfield_validation_message {
      margin-block-end: var(--wp--custom--spacing--sm);
      font-weight: bold;
      color: var(--wp--custom--color--error);
  }
  
  //Govuk integration
  .govuk-error-summary {
      margin-block: 0 var(--wp--custom--spacing--lg);
    &__title {
        font-weight: bold;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
  }

}

//Utility classes / other
.gfield--type-honeypot, 
.gfield_visibility_hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal !important;
}

.gfield_required {
    margin-inline-start: 0.25ch;
    font-size: 0.9em;
    font-weight: normal;
    color: var(--wp--custom--color--error);
}

//Columns
.ginput_container:has(.gform-grid-col) {
    display: flex;
    gap: var(--wp--custom--spacing--md);
    width: 100%;
  .gform-grid-col {
      flex: 1 1 auto;
      max-width: 50%;
  }
}

//Lists
.ginput_list {
    display: block !important;
}

.gfield_list_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--wp--custom--spacing--xs);
  &:not(:first-of-type) {
      margin-block-start: var(--wp--custom--spacing--xs);
  }
  &:not(:last-of-type) {
    .add_list_item {
        display: none !important;
    }  
  }
  &:last-of-type:not(:first-of-type) {
    .add_list_item {
        order: 2;
    }  
    .delete_list_item {
        order: 1;
    }
  }
}

//Buttons
.gfield_list_icons {
    display: flex;
    align-items: center;
    gap: var(--wp--custom--spacing--xs);
    margin: 0;
  button {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border:0;
    &:before {
        margin-inline-end: 0.25em;
        content: "+";
    }
  }
  .add_list_item  {
    &:before {
        content: "+";
    }
  }
  .delete_list_item {
    &:before {
        content: "-";
    }
  }
}

//Progress bar
.dgwltd-progress {
    --bar-height: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
  &__bar {
      margin-block: var(--wp--custom--spacing--xs);
      padding-inline: calc(var(--bar-height) / 3);
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: var(--bar-height);
      background-color: transparent;
      border: 2px solid var(--wp--custom--color--text);
      border-radius: calc(var(--bar-height) / 2);
    span {
        display: inline-block;
        height: calc(var(--bar-height) / 2);
        background-color: var(--wp--custom--color--text);
        border-radius: calc(var(--bar-height) / 3);
    }
  }
}