//Spacing next to headers
.wp-block-post-content > h2 + *, 
.wp-block-post-content > h3 + * {
    margin-block-start: var(--wp--custom--spacing--medium) !important;
}

//Columns spacing
.wp-block-columns {
    .wp-block-column {
      > * + * {
        margin-top: var(--wp--custom--spacing--small);
      }
      h3 {
        @extend %dgwltd-heading-s;
      }
    }
}

//CTA with columns
.dgwltd-cta {
  .wp-block-columns {
      .wp-block-column {
      display: flex;
      align-items: flex-start;
        p {
            @extend %dgwltd-body-s;
            &:first-of-type {
              margin-top: 0;
            }
        }
      }
  }
}

//Quote block with images
.wp-block--quote-with-images {
  h2, 
  .wp-block-columns, 
  .wp-block-buttons {
    padding-left: var(--wp--custom--spacing--medium);
    padding-right: var(--wp--custom--spacing--medium);
  }
  .wp-block-column {
    @include mq($until: md) {
      margin-bottom: var(--wp--custom--spacing--medium);
    }
    .wp-block-image {
      margin-top: var(--wp--custom--spacing--medium);
      max-width: 200px;
    }
  }
}