<div class="dgwltd-masthead-container">
  <div class="dgwltd-masthead__logo">
      <a href="/" rel="home" title="Go to the homepage for DGW.ltd">
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
        <polygon class="logo__angle-bracket" points="212.1 189.4 173.6 137.7 3.1 274.9 3.1 334.9 181.5 479.6 211.5 418.9 64 304.7 212.1 189.4"/>
        <polygon class="logo__line" points="210.7 480.9 288.8 480.9 509.9 31.1 434.9 31.1 210.7 480.9"/>
      </svg>
      <span class="visually-hidden">DGW.ltd</span>
      </a>
  </div>
   <nav id="site-navigation" class="main-navigation dgwltd-nav" aria-label="Primary">

          <button class="nav-toggle" id="nav-toggle" aria-label="Show or hide Top Level Navigation" aria-controls="nav-primary" aria-expanded="false">
              <svg class="open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 64H448v64H0V64zM0 224H320v64H0V224zM192 384v64H0V384H192z"/></svg>
              <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M294.6 166.6L317.3 144 272 98.7l-22.6 22.6L160 210.7 70.6 121.4 48 98.7 2.7 144l22.6 22.6L114.7 256 25.4 345.4 2.7 368 48 413.3l22.6-22.6L160 301.3l89.4 89.4L272 413.3 317.3 368l-22.6-22.6L205.3 256l89.4-89.4z"/></svg>
              <span class="visually-hidden">Menu</span>
          </button>

          <div class="dgwltd-nav__wrapper">
            {% set navPages = collections.all | eleventyNavigation %}
            {# {{ navPages | dump | safe }} #}
            <ul class="dgwltd-menu">
              {% for navPage in navPages %}
                <li class="menu-item">
                  <a href="{{ navPage.url }}" class="dgwltd-nav__link">{{ navPage.key }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </nav>
  
</div>